<div class="container summary">
  <div class='col-md-8 col-md-offset-2 new-member-amount'>
    <h3 class="title">每日概览</h3>
    <%= link_to "更新数据", renew_datas_admin_summaries_path %>
    <table class="table-hover table table-striped" id="summaries-datatable">
      <tr class="table-title">
        <td>日期</td>
        <td>总用户数</td>
        <td>每日新增用户数</td>
        <td>每日新增订单数</td>
        <td>每日付款订单数</td>
      </tr>
      <% if params[:page] == '1' || params[:page].nil? %>
      <tr>
        <td><%= Time.now.strftime('%F') %></td>
        <td><%= @total_member_today %></td>
        <td><a href="/admin/summaries/new_members"><%= @new_member_today %></a></td>
        <td><%= @new_order_today %></td>
        <td><%= @new_order_payed_today %></td>
      </tr>
      <% end %>
      <% @summaries.each_with_index do |summary, index| %>
      <tr class="<%= 'info' if index % 2 == 0 %>">
        <td><%= summary.history_date %></td>
        <td><%= summary.total_member_today %></td>
        <td><a href="/admin/summaries/new_members?index=<%= index %>"><%= summary.new_member_today %></a></td>
        <% if @new_orders_amount[index] == 0 %>
        <td><%= summary.new_order_today %></td>
        <% else %>
        <td><a href="/admin/summaries/new_orders?index=<%= index %>"><%= summary.new_order_today %></a></td>
        <% end %>
        <% if @new_orders_payed_amount[index] == 0 %>
        <td><%= summary.new_order_payed_today %></td>
        <% else %>
        <td><a href="/admin/summaries/new_orders?index=<%= index %>&pay_status='1'"><%= summary.new_order_payed_today %></a></td>
        <% end %>
      </tr>
      <% end %>
    </table>
    <%= will_paginate @summaries %>
    <div class="per-page">
      <span>每页显示</span>
      <span class="page-numbers"><a onclick="perPage(this)" href="">10</a></span>
      <span class="page-numbers"><a onclick="perPage(this)" href="">20</a></span>
      <span class="page-numbers"><a onclick="perPage(this)" href="">50</a></span>
      <span class="page-numbers"><a onclick="perPage(this)" href="">100</a></span>
      <span>条记录</span>
    </div>
  </div>
</div>

