<div class="container summary">
  <div class='col-md-8 col-md-offset-2 new-member-amount'>
    <h3 class="title">今日概览</h3>

    <table class="table-hover table table-striped">
      <tr class="table-title">
        <td>日期</td>
        <td>总用户数</td>
        <td>每日新增用户数</td>
      </tr>
      <% @dates.each_with_index do |date, index| %>
      <tr class="<%= 'info' if index % 2 == 0 %>">
        <td><%= date %></td>
        <td><%= @total_member[index] %></td>
        <td><a href="/admin/summaries/new_members?index=<%= index %>"><%= @total_member[index] - @member_before_today[index] %></a></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

