<div class="container summary">
  <div class='col-md-8 col-md-offset-2 new-member-detail'>
    <h3 class="title">新增用户</h3>
    <h4><a href="/admin/summaries">返回</a></h4>

    <table class="table-hover table table-striped">
      <tr class="table-title">
        <td>注册时间</td>
        <td>手机号码</td>
        <td>用户id</td>
      </tr>
      <% @new_members.each_with_index do |new_member, index| %>
      <tr class="<%= 'info' if index % 2 == 0 %>">
        <td><%= (Time.zone.at new_member.createtime).strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= new_member.login_name %></td>
        <td><%= new_member.uid %></td>
      </tr>
      <% end %>
    </table>
    <%= will_paginate @new_members %>
    <div class="per-page">
      <span>每页显示</span>
      <span class="page-numbers"><a onclick="perPage(this)" href="">10</a></span>
      <span class="page-numbers"><a onclick="perPage(this)" href="">20</a></span>
      <span class="page-numbers"><a onclick="perPage(this)" href="">50</a></span>
      <span class="page-numbers"><a onclick="perPage(this)" href="">100</a></span>
      <span>条记录</span>
    </div>
  </div>
</div>