<div class="container summary">
  <div class='col-md-8 col-md-offset-2 new-member-detail'>
    <h3 class="title"><%= params[:pay_status].nil? ? '今日订单' : '今日付款订单' %></h3>
    <h4><a href="/admin/summaries">返回</a></h4>

    <table class="table-hover table table-striped">
      <tr class="table-title">
        <td>下单时间</td>
        <td>用户名称</td>
        <td>用户id</td>
        <td>订单号</td>
        <td>是否付款</td> 
      </tr>

      <% @new_orders.each_with_index do |new_order, index| %>
      <tr class="<%= 'info' if index % 2 == 0 %>">
        <td><%= (Time.zone.at new_order.createtime).strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= new_order.user.try(:account).try :login_name %></td>
        <td><%= new_order.user.try(:account).try :uid %></td>
        <td><a href="/orders/<%= new_order.order_id %>/detail"><%= new_order.order_id %></a></td>
        <td><%= new_order.pay_status == '1' ? '是' : '否' %></td>
      </tr>
      <% end %>
    </table>
    <div class="row">
      <div class="col-md-6">
        <%= will_paginate @summaries %>
      </div>
      <div class="per-page col-md-4 pull-right">
        <span>每页显示</span>
        <span class="page-numbers"><a onclick="perPage(this)" href="">10</a></span>
        <span class="page-numbers"><a onclick="perPage(this)" href="">20</a></span>
        <span class="page-numbers"><a onclick="perPage(this)" href="">50</a></span>
        <span class="page-numbers"><a onclick="perPage(this)" href="">100</a></span>
        <span>条记录</span>
      </div>
    </div>
  </div>
</div>