<div id="specs_container" property-url="<%=price_good_path(good)%>" class="variations-box">                            
    <table class="variations-table">
        <tbody>
          <%if good.specs.present?%>
          <%good.specs.order("spec_id asc").each do |spec|%>
          <tr class="spec-item">
            <td class="table-label"><%=spec.spec_name%></td>
            <%=hidden_field_tag "product[specs][]"%>
            <td class="table-value">
              <ul class="list-check-box">
                  <%good.spec_values.where(:spec_id=>spec.spec_id).uniq.order("p_order asc").each do |spec_value|%>
                    <li>
                    <%#if spec.spec_type=="image"%>
                      <%#=link_to "","#", :class=>"spec-value image", :style=>"background:url(#{good.custom_picture(spec_value.abbr)}) center no-repeat;", :data=>{:value=>spec_value.spec_value_id,:images=>good.pictures(:large,spec_value.abbr).join(" ")},:title=>spec_value.spec_value%>
                    <%#else%>
                      <%=link_to spec_value.spec_value, "#", :class=>"spec-value text",:data=>{:value=>spec_value.spec_value_id},:title=>spec_value.spec_value%>
                    <%#end%>
                    </li>
                 <%end%>
              </ul>       
           </td>
          </tr>
          <tr style="display:none">
            <td class="table-label">Color</td>
            <td class="table-value">
                <ul class="list-check-box color">
                    <li><a class="selected" href="/img/Edo - Product detail.html"><span style="background:#4d6dbd;">Blue</span></a></li>
                    <li><a href="/img/Edo - Product detail.html"><span style="background:#fb5d5d;">Blue</span></a></li>
                    <li><a href="/img/Edo - Product detail.html"><span style="background:#2fbcda;">Blue</span></a></li>
                    <li><a href="/img/Edo - Product detail.html"><span style="background:#ffe00c;">Blue</span></a></li>
                    <li><a href="/img/Edo - Product detail.html"><span style="background:#72b226;">Blue</span></a></li>
                </ul>
            </td>
          </tr>
          <%end%>      

          <%else%>
          <%good.spec_desc.each do  |spec_id, spec_hash|%>
          <tr>
              <td class="table-label">
                <%=(spec = Ecstore::Spec.find(spec_id)).spec_name%> 
                <%=hidden_field_tag "product[specs][]"%>
              </td>
              <td class="table-value">              
                <ul class="list-check-box">
                <%spec_hash.each do |k,spec_values| %>            
                <li>
                  <%if spec.spec_type == "image"%>
                    <% spec_value_abbr = spec_values["spec_value"].split(" ").last.downcase %>
                    <%=link_to "","#", :class=>"spec-value image", :style=>"background:url(#{good.custom_picture(spec_value_abbr)}) center no-repeat;", :data=>{:value=>spec_values["spec_value_id"],:images=>good.pictures(:large,spec_value_abbr).join(" ")},:title=>spec_values["spec_value"]%>
                  <%else%>
                     <%=link_to spec_values["spec_value"], "#", :class=>"spec-value text",:data=>{:value=>spec_values["spec_value_id"]},:title=>spec_values["spec_value"]%>
                  <%end%>
                </li>
                <%end%>
              </ul>              
            </td>
          </tr>
          <%end%>
          <%end%>
        <tr>
            <td class="table-label">数量</td>
            <td class="table-value">
                <div class="box-qty">
                    <!-- <a href="#" class="quantity-minus">-</a>
                    <input type="text" class="quantity" value="1">
                    <a href="#" class="quantity-plus">+</a> -->
                    <%=select_tag "product[quantity]",options_for_select((good.store.to_i > 0 ? 1 : 0)..(good.store.to_i>10 ? 10 : good.store.to_i)),:id=>"store",:class=>"goods_spec_number_down",:style=>"width:50px"%>
      <span class="store-count">(库存 <span id="product_store"><%=good.store.to_i%></span> 件)</span>
                </div>
                <a href="#" class="button-radius btn-add-cart add-cart-product">加入购物车<span class="icon"></span></a>
               
            </td>
        </tr>
    </tbody>
  </table>

</div>