<!-- block  top sellers -->
<%
goods_ids =""
    sql = "select replace(replace(replace(field_vals,'---\n- ',''''),'- ',','''),'\n','''') as goods_ids FROM mdk.sdb_imodec_promotions where name='Top Sellers'"
    results = ActiveRecord::Base.connection.execute(sql)
    results.each(:as => :hash) do |row|
      goods_ids= row["goods_ids"]
    end
    if goods_ids.size>0
      sql = " bn in (#{goods_ids})"
      @top_sellers = Ecstore::Good.where(sql)
    end
%>
<div class="block block-top-sellers">
    <div class="block-head">
        <div class="block-title">
            <div class="block-icon">
                <img src="/img/top-seller-icon.png" alt="store icon">
            </div>
            <div class="block-title-text text-sm">top</div>
            <div class="block-title-text text-lg">SELLERS</div>
        </div>
    </div>
    <div class="block-inner">
        <ul class="products kt-owl-carousel" data-margin="10" data-items="1" data-autoplay="true" data-loop="true" data-nav="true" data-responsive='{"0":{"items":1},"600":{"items":2},"1000":{"items":1}}'>
        <%@top_sellers.each do |good|%>
            <li class="product">
                <div class="product-container">
                    <div class="product-left">
                        <div class="product-thumb">
                            <%=link_to good_path(good.bn), :target=>"_blank",:class=>"product-img" do %>
                                <%=image_tag good.list_default_pic,:alt=>good.name%>
                            <%end%>
                            <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                        </div>
                    </div>
                    <div class="product-right">
                        <div class="product-name">                            
                            <%=link_to good.name,good_path(good.bn),:target=>"_blank"%>
                        </div>
                        <div class="price-box">
                            <span class="product-price">￥<%=good.price%></span>
                            <span class="product-price-old">￥<%=good.mktprice%></span>
                        </div>
                        <div class="product-star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                        <div class="product-button">
                            <a class="btn-add-wishlist" title="Add to Wishlist" href="<%=good_path(good.bn)%>">收藏</a>
                            <a class="btn-add-comparre" title="Add to Compare" href="<%=good_path(good.bn)%>">比较</a>
                            <a class="button-radius btn-add-cart" title="Add to Cart" href="<%=good_path(good.bn)%>">购买<span class="icon"></span></a>
                        </div>
                    </div>
                </div>
            </li>
            <%end if @top_sellers%>                                        
        </ul>
    </div>
</div>