<div class="container">
    <div class="row">
        <div class="block block-breadcrumbs">
            <ul>
                <li class="home">
                    <a href="/"><i class="fa fa-home"></i></a>
                    <span></span>
                </li>
                <li>登录/注册</li>
            </ul>
        </div>
        <div class="main-page">
            <h1 class="page-title">登录/注册</h1>
            <div class="page-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="box-border">
                            <%=form_for Ecstore::Account.new,:url=> user_login_auth_bbmall_index_path,:class=>"contact-form",:html=>{:role=>"form",data: {type: "script"}} do |f|%>
                            <h4>登录</h4>
                            <p>
                                <label>手机号</label>
                                <%=f.text_field :login_name,:placeholder=>"已认证的手机号",:class=>"form-control",:required=>"required"%>
                            </p>
                            <p>
                                <label>密码</label>
                                <%=f.password_field :password, :placeholder=>"密码",:class=>"form-control",:required=>"required"%>
                            </p>
                            <p>
                                <input type="checkbox" checked="checked" id="autologin" name="remember_me" value="1">
                                <label id="remember_me" class="checkbox_label"  for="autologin"> 记住登录</label>
                                <a class="forgot_link" href="/api_forget_pwd_step1" target="_top">找回密码</a> 
                            </p>
                            <p><div id="login_msg"></div></p>
                            <p>
                                <button class="button" type="submit"><i class="fa fa-lock"></i> 登录</button>
                            </p>
                            <%end%>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="box-border">
                            <h4>注册</h4>
                            <small>请输入您的手机号码注册新账户</small>
                            <%=form_for Ecstore::Account.new,:url=> user_reg_auth_bbmall_index_path,:html=>{ :role=>"form",:id=>"register_form", :class => 'form-inline', data: {type: "script"}} do |f|%> 
                            <p>
                                <div><label>手机号</label></div>
                                <div><%=f.text_field :login_name,:value=>"", :id => 'phone-number', :class=>"form-control",:placeholder=>"手机",:required=>"required"%></div>
                            </p>

                            
                            <div class="form-group">
                                <input name="validate_code" class="form-control" placeholder="请输入验证码" id="validate-code-reg" type="text">
                                <button type="button" class="btn btn-success btn-sm" id="button-validate-code">获取验证码</button>
                            </div>
                            

                            <p>
                              <input type="checkbox" checked="checked" value="agree" name="user[license]" id="license" class="x-input required" autocomplete="off">
                              <label for="license" class="checkbox_label" id="i_agree">&nbsp;我已阅读并同意：</label><a href="/pages/zhucexieyi" target="_top"  id="reg_term">会员注册协议</a>
                              <span id="and">和</span>&nbsp;<a href="/pages/ysbh" id="privacy" target="_top">隐私保护政策</a>
                              <div class="help-block" rel="user_license"></div>
                          </p>
                          <p>
                            <button class="button" type="submit"><i class="fa fa-user"></i>注册</button>
                        </p>
                        <%end%>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div> 


<script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
<script src="/assets/bootstrap-transition.js?body=1" type="text/javascript"></script>
<script src="/assets/bootstrap-carousel.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery_placeholder_min.js?body=1" type="text/javascript"></script>
<script src="/assets/login.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery_md5.js" type="text/javascript"></script>


<script type="text/javascript">
    var brand_id = 'bb';
    var client_id = 'bbzg';
    var phone = $('#phone-number').val();
    var key = '1ed97bd965a8f052';    
    var ts = Date.parse(new Date());
    var unsign = brand_id + client_id + phone + ts + key;
    var sign = $.md5(unsign);
    var code = MathRand();
    var msg = '您的验证码为：' + code + ',若非您本人操作，请忽略该信息。'
    var msg_encode = encodeURIComponent(msg)
    var $valid = $('#button-validate-code');
    $valid.click(function(){
        $.ajax({
            url:'http://103.16.125.100:9018/send_sms',
            data:{
                'brand_id':brand_id,
                'client_id':client_id,
                'phone':phone,
                'content':msg_encode,
                'ts':ts,
                'sign':sign
            },
            dataType:'json',
            type:'post'
        });   
    });

    //random code send to user
    function MathRand() 
    { 
        var Num=""; 
        for(var i=0;i<6;i++) 
        { 
            Num+=Math.floor(Math.random()*10); 
        } 
        return Num;
    }




</script>