<div class="container">
	<div class="col-md-10 col-md-offset-1">
	<div class="hidden-xs">
		<h1 class="page-title">当前购物状态</h1>
		</div>
		<div class="page-content page-order">
			<ul class="step hidden-xs">
				<li><span>01. 商品列表</span></li>
				<li class="current-step"><span>02. 收货方式</span></li>
				<li><span>03. 支付货款</span></li>
			</ul>

			<%if @line_items.size > 0%>
			<div class="section addr" style="margin:20px 10px;border-bottom:1px solid rgb(240,240,240)">
				<h4 style="font-weight:bold;">
					收货人信息
				</h4>
				<div class="checkcon clearfix addr-list">
					<%if @addrs.size>0%>
					<%@addrs.each_with_index do |addr,index|%>
					<%if @def_addr == addr%>
					<label class="radio active">
						<%=radio_button_tag "member_addr", addr.addr_id,:checked=>true%>
						<span class="addr-name-city"><%=addr.name%>  <%= addr.area.split('/')[1] %></span>

						<span class="addr-detail-name"><%=addr.name%></span>
						<span class="addr-detail-addr"><%=addr.addr%></span>
						<span class="addr-detail-mobile" style="font-weight:500;"><%=addr.mobile%></span>

						<%=link_to "修改",edit_member_addr_path(addr),:remote=>true,:class=>"update-link"%>
					</label>
					<%else%>
					<label class="radio">
						<%=radio_button_tag "member_addr", addr.addr_id%>
						<span class="addr-name-city"><%=addr.name%>  <%= addr.area.split('/')[1] %></span>

						<span class="addr-detail-name"><%=addr.name%></span>
						<span class="addr-detail-addr"><%=addr.addr%></span>
						<span class="addr-detail-mobile" style="font-weight:500;"><%=addr.mobile%></span>

						<%=link_to "修改",edit_member_addr_path(addr), :remote=>true, :class=>"update-link"%>
					</label>
					<%end%>
					<%end%>

					<label class="radio">
						<%=radio_button_tag "member_addr", "new"%>
						<span style="padding-left:5px;">使用新地址+</span>
					</label>
					<%end%>
				</div>
			</div>

			<%=render :partial=>"patch/member_addrs/form",:locals=>{ :display=>( @addrs.size == 0 ), :@addr=>Ecstore::MemberAddr.new }%>

		</div>


		<%=form_for :order,:url=>orders_path,:html=>{ :class=>"form-horizontal",:id=>"order_form" } do |f|%>
		<%=hidden_field_tag "member_addr",@def_addr&&@def_addr.addr_id%>

		<div class="section shipment" style="margin:20px 10px;border-bottom:1px solid rgb(240,240,240)">
			<h4 style="font-weight:bold">配送方式</h4>
			<label class="radio active" style="margin-left:20px;">
				<%=f.radio_button :shipping_id, 0%><span class="addr-line" style="padding-left:5px;">自提</span>
			</label>
			<label class="radio" style="margin-left:20px;">
				<%=f.radio_button :shipping_id, 1, :checked=>true%> <span style="padding-left:5px;">快递</span>
				<span class="extra-info">+ ￥0</span>
			</label>
		</div>

		<div class="control-group" style="margin:20px 10px;">
			<h4 style="font-weight:bold;">
				收货时间
			</h4>
			<div class="form-group">
				<%=f.select :ship_day,ship_day_options%>
				<%=f.text_field :ship_special,:class=>"input-small hide datetime"%>
				<%=f.select :ship_time2,ship_time_options,:class=>"form-control", :width=>"30%"%>
			</div>
		</div>



		<div class="section payment" id="payments" style="margin-left:10px;">
			<h4 style="font-weight:bold">支付方式</h4>
			<% if cookies[:MLV] == "10" %>
			<label class="radio" style="margin-left:20px;">
				<%=f.radio_button :payment, "term"%> <b style="padding-left:5px;">账期（与供应商协商）</b>
			</label>
			<br/>
			<%end%>

			<div class="form-group" id="advance_pay" style="margin-left:20px;">
				<label class="checkbox">
					<%#=f.check_box {:checked => true, :'data-amount'=> @advance, :id=>"advance" }%>
					<input type="checkbox" checked="true" data-amount="<%= @advance %>" id="advance"><b>预存款先支付</b>
					余额(<span>￥</span><span id="advance_value"><%= @advance %></span>)
				</label>
			</div>
			<div class='form-group' id="part_pay_number" style="margin-left:20px;width:20%;">
				<%= f.label :part_pay, '您希望使用的余额：' %>
				<%= f.number_field :part_pay, :id => 'part_pay_amount' %>
			</div>

		<!--<label class="radio" style="display:none">
			<%#=f.radio_button :payment, "alipay"%> <b>支付宝</b>
			<span class="extra-desc"><img src="/assets/store/alipay.png"/></span>
		</label>
		<label class="radio"  style="display:none">
			<%#=f.radio_button :payment, "alipaywap"%> <b>支付宝手机</b>
			<span class="extra-desc"><img src="/assets/store/alipaywap.png"/></span>-->
		</label>
		<label class="radio" style="margin-left:20px;">
			<%=f.radio_button :payment, "wxpay", :checked=>true%> <b>微信支付</b>
			<span class="extra-desc"><img src="/assets/store/wxpay.png"/></span>
		</label>
		<label class="radio" style="margin-left:20px;">
			<%=f.radio_button :payment, "offline"%> <b>货到付款</b>
			<span class="extra-desc"></span>
		</label>

		<!--<%# if @advance >= @cart_total %>
		<label class="radio" style="margin-left:20px;">
			<%#= f.radio_button :payment, 'deposit' %> <b style="padding-left:5px;">预存款(余额：￥<%#= @advance %>)</b>
		</label>
		<%# end %>
	</div>-->

	<div class="order-items">
		<table class="table">
			<tr>
				<th>商品名称</th>
				<th>单价</th>
				<th>数量</th>
				<th>金额小计</th>
			</tr>

			<%@line_items.each do |line_item|%>
			<tr>
				<%=hidden_field_tag "products[]",line_item.product.product_id%>
				<td class="product-info">
					<%=link_to good_path(line_item.good.bn),:class=>"thumb",:target=>"_blank" do%>
					<%=image_tag line_item.good.medium_pic,:size=>"35x50",:alt=>line_item.product.name%>
					<%end%>
					<div class="info clearfix">
						<div class="name">
							<%=link_to line_item.product.name,good_path(line_item.good.bn),:target=>"_blank"%>
							<%=link_to "(#{line_item.good.brand.brand_name})",brand_path(line_item.good.brand),:target=>"_blank" if line_item.good.brand%>
						</div>
						<div class="spec-info"><%=line_item.product.spec_info%></div>
					</div>
				</td>
				<td>
					<%if cookies[:MLV] == "10"%>
					<%=number_to_currency line_item.product.bulk,:unit=>"&yen;",:precision=>2%>
					<%else%>
					<%=number_to_currency line_item.product.price,:unit=>"&yen;",:precision=>2%>
					<%end%>
				</td>
				<td><%=line_item.quantity%></td>
				<td>
					<%if cookies[:MLV] == "10"%>
					<%=number_to_currency line_item.line_total_bulk,:unit=>"&yen;",:precision=>2%>
					<%else%>
					<%=number_to_currency line_item.line_total,:unit=>"&yen;",:precision=>2%>
					<%end%>
				</td>
			</tr>
			<%end%>

			<%=render 'gifts'%>

		</table>
	</div>

	<%if @pmtable%>
	<div class="section promotions">
		<h5>优惠: </h5>
		<%=render "promotions"%>
		<%=render "coupons"%>
	</div>
	<%end%>

	<div class="section promotions">

		<div class="section checkout clearfix">
			<h4 style="font-weight:bold;">结算信息</h4>
			<div class="left">
				<div class="memo">
					<div class="control-group">
						<%=f.label :memo, "订单备注：",:class=>"control-label"%>
						<div class="controls">
							<%=f.text_area :memo,:rows=>4%>
						</div>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="tax" id="order_tax">
					<div class="item">
						<span class="text">需要发票：</span>
						<span class="money">(税金:0%)<%=f.check_box :is_tax, {}, 'true','false'%></span>
					</div>

					<div class="item hide tax-input">
						<span class="text">发票抬头：</span>
						<span class="money"><%=f.text_field :tax_company,:class=>"tax-owner"%></span>
					</div>
				</div>
				<div class="cost" id="order_cost">
				<!-- <div class="item">
					<span class="text">商品总额：</span>
					<span class="rmb-symbol">￥</span>
					<span class="money" data-amount="<%#=@cart_total%>" id="cart_amount">
						<%#=@cart_total%>
					</span>
				</div> -->
				<div class="item">
					<span class="text">商品总额：</span>
					<span class="rmb-symbol">￥</span>
					<span class="money sum" data-amount = "<%=@cart_total%>" id="order_amount">
						<%=@cart_total %>
					</span>
				</div>

				<%if @order_promotions.present? || @goods_promotions.present? %>
				<div class="item">
					<span class="text">优惠：</span>
					<span class="rmb-symbol">￥</span>
					<span class="money" data-amount="0" id="pmt_amount"></span>
				</div>
				<%end%>


				<div class="item hide">
					<span class="text">优惠券：</span>
					<span class="rmb-symbol">￥</span>
					<span class="money" data-amount="0" id="coupon_amount">
						-0
					</span>
				</div>

				<div class="item">
					<span class="text">订单总金额：</span>
					<span class="rmb-symbol">￥</span>
					<span class="money" id="final_amount"><%= @cart_total %></span>
				</div>


				<div class="total" id="order_bill">

					<%unless @advance == 0%>
					<div class="item">
						<span class="text">预付金额：</span>
						<span class="rmb-symbol">￥</span>
						<span class="money part" id="part_amount">
							0
						</span>
					</div>
					<%end%>

					<div class="item bcom" for="#order_payment_bcom" style="display:none">
						<span class="text">支付优惠(交通银行)：</span>
						<span class="rmb-symbol">￥</span>
						<span class="money bcom-discount" id="bcom_discount"></span>
					</div>


					<div class="item">
						<span class="text">支付金额：</span>
						<span class="rmb-symbol">￥</span>
						<span class="money final" id="pay_amount"><%= @cart_total %></span>
					</div>

				</div>
				<div class="actions clearfix">
					<%=f.submit "安 全 结 算",:class=>"btn btn-success btn-lg  "%>
				</div>
			</div>
		</div>
		<%end%>
		<%else%>
		<p>您还没有选择商品。</p>
		<%end%>
	</div>
</div>
<script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
	$('#advance').on('click', function(){
		//if($('#advance').prop('checked') == false){
			if($('#advance').attr('checked') == false){
				$('#part_pay_number').hide();
				$('#part_amount').text('0');
				$('#pay_amount').text("<%= @cart_total %>");
			}
			else {
				$('#part_pay_number').show();
			}
		});

	$('#part_pay_amount').on('change', function(){
		if($('#advance').attr('checked') == true) {
			if($('#part_pay_amount').val() < 0) {
				$('#part_pay_amount').val(0);
				alert('邦邦元宝支付额度不能小于0');
			}
			if($('#part_pay_amount').val() > <%= @cart_total %>) {
				$('#part_pay_amount').val(<%= @cart_total %>);
				alert('邦邦元宝支付额度不能大于商品总金额');
			}

			if($('#part_pay_amount').val() > <%= @advance %>) {
				alert('您的余额不足，请重新填');
				$('#part_pay_amount').val(0);
			}

			pay_amount = <%= @cart_total %> - parseFloat($('#part_pay_amount').val());
			$('#pay_amount').text(pay_amount);
			$('#part_amount').text($('#part_pay_amount').val());
		}
	});
</script>

<style type="text/css">
	.addr-list {
		margin-left: 20px;
	}
	.addr-name-city {
		padding: 5px 15px;
		padding-left: 5px;
		font-size: 1.1em;c
		margin: 5px;
	}

	.addr-list .addr-detail-name, .addr-list .addr-detail-addr, .addr-list .addr-detail-mobie {
		font-weight: 500;
		margin: 5px;
	}
	.checked-border {
		border: 2px rgb(92,137,200) solid;
	}

	.update-link {
		color: green;
		margin-left: 40px;
	}
</style>




