<% if current_user.valid? %>
<h4 style="text-align:center;">修改绑定手机</h4>
<%= form_for Ecstore::Account.new, :url => change_phone_auth_bbmall_index_path do |f| %>
<%= f.label :password, '密码' %>
<%= f.password_field :password %>
<%= f.label :login_name, '新手机号' %>
<%= f.text_field :login_name %>
<%= f.submit "提交" %>
<% end %>
<% else %>
<h4 style="text-align:center;">请您先<%= link_to '登录', login_path %>!</h4>
<% end %>