    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-sm-4 col-md-3 col-lg-3">
                    <!-- Block vertical-menu -->
                    <div class="block block-vertical-menu">
                        <div class="vertical-head">
                            <h5 class="vertical-title">商品分类</h5>
                        </div>
                        <div class="vertical-menu-content">
                            <ul class="vertical-menu-list">
                                <li class="vertical-menu1"><a class="parent" href="/gallery/22?type=1">佐餐美酒</a>
                                    <div class="vertical-dropdown-menu" style="width: 901px;">
                                        <div class="vertical-groups col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="block-content-vertical-menu">
                                                        <h3 class="head">沃特牌啤酒</h3>
                                                        <div class="inner">
                                                            <p> 沃特牌啤酒是按照自己独特的秘密 配方酿造的，所有原材料来自德国，并且保证不受任何不良环境的 影响。酿造啤酒用的水是唯一最纯净的哈尔茨山泉水。地处中欧的著名的 哈尔茨山泉水不含任何有害矿物质，对于酿造啤酒来说，是最高品 质的水。</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="row mega-products">
                                                         <%goods=Ecstore::Good.where("marketable ='true' and cat_id =489").order("p_order ASC, goods_id DESC").limit(3)%>
                                                        <%goods.each do |good|%>   
                                                        <div class="col-sm-4 mega-product">
                                                            <div class="product-avatar">
                                                                <a class="product-img" href="/products/<%=good.bn%>"><img src="<%=good.medium_pic%>" alt="<%=good.name%>"></a>
                                                            </div>
                                                            <div class="product-name">
                                                                <a href="/products/<%=good.bn%>"><%=good.name%></a>
                                                            </div>
                                                            <div class="price-box">
                                                                <span class="product-price">￥<%=good.price%></span>
                                                                <span class="product-price-old">￥<%=good.mktprice%></span>
                                                            </div>
                                                            <div class="product-star">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-half-o"></i>
                                                            </div>
                                                        </div>
                                                        <%end%>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="vertical-menu2">
                                    <a class="parent" href="/gallery/558?type=1">德国香肠</a>
                                    <div class="vertical-dropdown-menu" style="width: 901px;">
                                        <div class="vertical-groups">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="block-content-vertical-menu border banner-hover">
                                                        <a href="#"><img src="/img/b42.png" alt="Banner"></a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="block-content-vertical-menu banner-hover">
                                                        <a href="#"><img src="/img/b43.png" alt="Banner"></a>
                                                    </div>
                                                    <div class="block-content-vertical-menu">
                                                        <div class="inner">
                                                            <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec rutrum congue leo eget malesuada. Proin eget tortor risus. </p>
                                                            <a href="#" class="button-radius">立即购买<span class="icon"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="block-content-vertical-menu border-left">
                                                        <h3 class="head">商品分类</h3>
                                                        <div class="inner">
                                                        <ul class="vertical-menu-link">
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Skincare</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Metkup</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Mobile phone</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Tablet</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Men's Apparel</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Women's Apparel</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Watch sport</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Metkup</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Mobile phone</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Tablet</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="vertical-menu3">
                                    <a class="parent" href="#">养生珍品</a>
                                    <div class="vertical-dropdown-menu" style="width: 901px;">
                                        <div class="vertical-groups">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="block-content-vertical-menu border">
                                                        <h3 class="head">商品分类</h3>
                                                        <div class="inner">
                                                        <div class="inner-img">
                                                            <a href="#"><img src="/img/4.jpg" alt="Banner"></a>
                                                        </div>
                                                        <ul class="vertical-menu-link">
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Skincare</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Metkup</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Mobile phone</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Tablet</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="block-content-vertical-menu border">
                                                        <h3 class="head">商品分类</h3>
                                                        <div class="inner">
                                                        <div class="inner-img">
                                                            <a href="#"><img src="/img/5.jpg" alt="Banner"></a>
                                                        </div>
                                                        <ul class="vertical-menu-link">
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Skincare</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Metkup</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Mobile phone</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Tablet</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="block-content-vertical-menu border">
                                                        <h3 class="head">商品分类</h3>
                                                        <div class="inner">
                                                        <div class="inner-img">
                                                            <a href="#"><img src="/img/6.jpg" alt="Banner"></a>
                                                        </div>
                                                        <ul class="vertical-menu-link">
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Skincare</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Metkup</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Mobile phone</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Tablet</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="block-content-vertical-menu border">
                                                        <h3 class="head">商品分类</h3>
                                                        <div class="inner">
                                                        <div class="inner-img">
                                                            <a href="#"><img src="/img/7.jpg" alt="Banner"></a>
                                                        </div>
                                                        <ul class="vertical-menu-link">
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Skincare</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Metkup</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Mobile phone</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="text">Tablet</span>
                                                                    <span class="count">(9)</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="vertical-menu4"><a href="#">生鲜果蔬</a></li>
                                <li class="vertical-menu5"><a href="#">进口食品</a></li>
                                <li class="vertical-menu6">
                                    <a href="#">婴童天地</a>
                                </li>
                                <li class="vertical-menu7"><a href="#">茶叶 &amp; 冲泡饮品</a></li>
                                <li class="vertical-menu8"><a href="#">更多</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- ./Block vertical-menu -->
                </div>
                <div class="col-sm-8 col-md-9 col-lg-7">
                    <!-- Home slide -->
                    <div class="block-slider">
                        <ul class="home-slider kt-bxslider">
                            <%@home.sliders.each_with_index do |key,index|%>
                            <li>
                                <%=link_to key['link_url'],:target=>"_blank" do%>
                                    <%=image_tag key['pic_url'] %>
                                <%end%>      
                            </li>                             
                            <%end%>
                        </ul>
                    </div>
                    <!-- ./Home slide -->
                   
                </div>
                <div class="col-sm-8 col-md-12 col-lg-2">
                    <div class="block block-banner-owl kt-owl-carousel" ata-margin="0" data-loop="true" data-nav="true" data-responsive='{"0":{"items":1},"600":{"items":1},"1000":{"items":1}}'>
                        <div class="page-banner">
                            <ul class="list-banner">
                                <li><a href="/brands/19"><img src="/img/brands/b19.jpg" alt="banner"></a></li>
                                <li><a href="/brands/26"><img src="/img/brands/b26.jpg" alt="banner"></a></li>
                                <li><a href="/brands/144"><img src="/img/brands/b144.jpg" alt="banner"></a></li>
                                <li><a href="/brands/175"><img src="/img/brands/b175.jpg" alt="banner"></a></li>
                            </ul>
                        </div>
                        <div class="page-banner">
                            <ul class="list-banner">
                                 <li><a href="/brands"><img src="/img/brands/b191.jpg" alt="banner"></a></li>
                                <li><a href="/brands/196"><img src="/img/brands/b196.jpg" alt="banner"></a></li>
                                <li><a href="/brands/200"><img src="/img/brands/b200.jpg" alt="banner"></a></li>
                                <li><a href="/brands/201"><img src="/img/brands/b201.jpg" alt="banner"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <%=render "/store/shared/special"%>
                    <%=render "/store/shared/big_save"%>
                    <%=render "/store/shared/top_review"%>
                    <%=render "/store/shared/hot_tags", :resource=>@home%>                         
                </div>
                <div class="col-sm-8 col-md-9">
                    <!-- new-arrivals -->
                    <div class="block3 block-new-arrivals">
                        <div class="block-head">
                            <h3 class="block-title">最新上架</h3>
                            <ul class="nav-tab default">   
                                <%i=0%>
                                <% @home_galleries=[130,126,129]%>
                                <%@home_galleries.each do |tag_id|%>
                                    <%@gallery = Ecstore::TagExt.where(:tag_id=>tag_id).first%>    
                                        <%i+=1%>
                              <li class="<%='active' if i==1%>"><a href="#tab-<%=tag_id%>" data-toggle="tab"><%=@gallery.tag_name%></a></li> 
                                <%end%>                       
                            </ul>
                        </div>
                        <div class="block-inner">
                            <div class="tab-container">
                             <%i=0%>
                            <%@home_galleries.each do |tag_id|%>
                                <%@gallery = Ecstore::TagExt.where(:tag_id=>tag_id).first%>
                                
                                <%i+=1%>
                                <%if !@gallery.nil?%>        
                                    <%@categories = Ecstore::Category.where("cat_id in (#{@gallery.categories})").order("p_order")%>
                                <%end%>
                                <div class="tab-panel <%='active' if i==1%>" id="tab-<%=tag_id%>">
                                    <ul class="products kt-owl-carousel" data-margin="20" data-loop="true" data-nav="true" data-responsive='{"0":{"items":1},"600":{"items":3},"768":{"items":2},"1000":{"items":3},"1200":{"items":4}}'>
                                    <%goods=Ecstore::Good.where("marketable ='true' and cat_id =#{@categories.first.cat_id}").order("p_order ASC, goods_id DESC").limit(4)%>
                            
                                    <%#goods=Ecstore::Good.where("marketable ='true' and cat_id =637").order("p_order ASC, goods_id DESC").limit(4)%>
                                    <%goods.each do |good|%> 
                                        <li class="product">
                                            <div class="product-container">
                                                <div class="product-left">
                                                    <div class="product-thumb">
                                                        <a class="product-img" href="/products/<%=good.bn%>"><img src="<%=good.medium_pic%>" alt="Product"></a>
                                                        <a title="Quick View" href="/products/<%=good.bn%>" class="btn-quick-view">Quick View</a>
                                                    </div>
                                                </div>
                                                <div class="product-right">
                                                    <div class="product-name">
                                                        <a href="/products/<%=good.bn%>"><%=good.name%></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <span class="product-price">￥<%=good.price%></span>
                                                        <span class="product-price-old">￥<%=good.mktprice%></span>
                                                    </div>
                                                    <div class="product-button">
                                                        <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/<%=good.bn%>">收藏</a>
                                                        <a class="btn-add-comparre" title="Add to Compare" href="/products/<%=good.bn%>">比较</a>
                                                        <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/<%=good.bn%>">购买<span class="icon"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                       <%end%>
                                    </ul>
                                </div>
                                <%end%>
                            </div>
                        </div>
                        <div class="block-footer">
                            <div class="text-center banner-hover">
                                <a href="#"><img src="/img/adv-avantage.png" alt="Banner"></a>
                            </div>
                        </div>
                    </div>
                    <!-- new-arrivals -->
                   <!-- Hot deals -->
                    <div class="block3 block-hotdeals">
                        <div class="block-head">
                            <h3 class="block-title">优惠专区</h3>
                            <a class="link-all" href="/tuan">更多</a>
                        </div>
                        <div class="block-inner">
                            <ul class="products kt-owl-carousel" data-margin="20" data-loop="true" data-nav="true" data-responsive='{"0":{"items":1},"600":{"items":3},"768":{"items":2},"1000":{"items":3},"1200":{"items":4}}'>
                            <%goods=Ecstore::Good.where("marketable ='true' and cat_id =494").order("p_order ASC, goods_id DESC").limit(4)%>
                                    <%goods.each do |good|%> 
                                <li class="product">
                                    <div class="product-container">
                                        <div class="product-left">
                                            <div class="product-thumb">
                                                        <a class="product-img" href="/products/<%=good.bn%>"><img src="<%=good.medium_pic%>" alt="Product"></a>
                                                        <a title="Quick View" href="/products/<%=good.bn%>" class="btn-quick-view">Quick View</a>
                                                    </div>
                                                </div>
                                                <div class="product-right">
                                                    <div class="product-name">
                                                        <a href="/products/<%=good.bn%>"><%=good.name%></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <span class="product-price">￥<%=good.price%></span>
                                                        <span class="product-price-old">￥<%=good.mktprice%></span>
                                                    </div>
                                            <div class="product-button">
                                                <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/<%=good.bn%>">收藏</a>
                                                        <a class="btn-add-comparre" title="Add to Compare" href="/products/<%=good.bn%>">比较</a>
                                                        <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/<%=good.bn%>">购买<span class="icon"></span></a>
                                            </div>
                                        </div>
                                        <div class="product-count-down">
                                            <span class="countdown-lastest" data-y="2016" data-m="10" data-d="1" data-h="00" data-i="00" data-s="00"></span>
                                        </div>
                                    </div>
                                </li>
                                <%end%>
                            </ul>
                        </div>
                    </div>
                    <!-- Hot deals -->
                    <!-- group banner -->
                    <div class="group-banner3 banner-hover">
                        <a class="banner banner1" href="#"><img src="/img/images01.png" alt="Banner"></a>
                        <a class="banner banner2" href="#"><img src="/img/images02.png" alt="Banner"></a>
                        <a class="banner banner3" href="#"><img src="/img/images03.png" alt="Banner"></a>
                        <a class="banner banner4" href="#"><img src="/img/images04.png" alt="Banner"></a>
                    </div>
                    <!-- ./group banner -->
                
                    <div class="block3 tab-cat-products">
                        <%i=0%>
                        <% @home_galleries=[125,127,128]%>
                        <div class="block-head">
                            <ul class="nav-tab tab-category">
                            <%@home_galleries.each do |tag_id|%>
                            <%@gallery = Ecstore::TagExt.where(:tag_id=>tag_id).first%>    
                            <%i+=1%>
                              <li class="<%='active' if i==1%>"><a href="#tab-<%=tag_id%>" data-toggle="tab"><%=@gallery.tag_name%></a></li> 
                            <%end%>                          
                            </ul>
                        </div>
                        <div class="block-inner">
                            <div class="tab-container">
                                <%i=0%>
                                <%@home_galleries.each do |tag_id|%>
                                <%@gallery = Ecstore::TagExt.where(:tag_id=>tag_id).first%>    
                                <%i+=1%>
                                <%if !@gallery.nil?%>        
                                    <%@categories = Ecstore::Category.where("cat_id in (#{@gallery.categories})").order("p_order")%>
                                <%end%>
                                <div class="tab-panel <%='active' if i==1%>" id="tab-<%=tag_id%>">
                                    <div class="sub-cat">
                                        <ul>                            
                                        <%@categories.each do |category|%>
                                          <li><%=link_to category.cat_name,cat_path(category)%></li>
                                        <%end%>
                                        </ul>
                                    </div>
                                    <div class="cat-product">
                                        <ul class="products kt-owl-carousel" data-responsive='{"0":{"items":1},"600":{"items":2},"768":{"items":2},"1200":{"items":3}}' data-nav="true" data-loop="true" data-margin="22">
                                        <%goods=Ecstore::Good.where("marketable ='true' and cat_id =#{@categories.first.cat_id}").order("p_order ASC, goods_id DESC").limit(4)%>
                                        <%goods.each do |good|%> 
                                            <li class="product">
                                                <div class="product-container">
                                                    <div class="product-left">
                                                        <div class="product-thumb">
                                                            <a class="product-img" href="/products/<%=good.bn%>"><img src="<%=good.medium_pic%>" alt="Product"></a>
                                                            <a title="Quick View" href="/products/<%=good.bn%>" class="btn-quick-view">Quick View</a>
                                                        </div>
                                                    </div>
                                                    <div class="product-right">
                                                        <div class="product-name">
                                                            <a href="/products/<%=good.bn%>"><%=good.name%></a>
                                                        </div>
                                                        <div class="price-box">
                                                            <span class="product-price">￥<%=good.price%></span>
                                                            <span class="product-price-old">￥<%=good.mktprice%></span>
                                                        </div>
                                                        <div class="product-button">
                                                            <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/<%=good.bn%>">收藏</a>
                                                            <a class="btn-add-comparre" title="Add to Compare" href="/products/<%=good.bn%>">比较</a>
                                                            <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/<%=good.bn%>">购买<span class="icon"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                           <%end%>                         
                                        </ul>
                                    </div>
                                </div>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                                        
                                            
                                       
    <div class="container">
        <div class="row">
            <!-- banner -->
            <div class="block block-banner2">
                <div class="row">
                    <div class="box-left col-sm-12 col-md-8">
                        <div class="col-sm-6">
                            <div class="inner">
                                <h4><i>DIVE INTO NEW</i></h4>
                                <h3><b>EXPERIENCES</b></h3>
                                <div class="content-text">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry everything in-between</p>
                                </div>
                                <a href="#" class="button-radius">立即购买<span class="icon"></span></a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <a href="#"><img src="/img/br-banner1.jpg" alt="Banner"></a>
                        </div>
                    </div>
                    <div class="box-right col-sm-12 col-md-4">
                        <div class="item i1">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h5><i>DIVE INTO NEW</i></h5>
                                    <h5><b>EXPERIENCES</b></h5>
                                    <div class="content-text">
                                        <p>Clever additions that make your smartphone even smarter.</p>
                                    </div>
                                    <a href="#" class="button-radius">立即购买<span class="icon"></span></a>
                                </div>
                                <div class="col-sm-4">
                                    <a class="pull-right" href="#"><img src="/img/b8.png" alt="b8"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item i2" style="background: url(&#39;/img/b9.jpg&#39;) no-repeat right center;">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5><i>DIVE INTO NEW</i></h5>
                                    <h5><b>EXPERIENCES</b></h5>
                                    <a href="#" class="button-radius">立即购买<span class="icon"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./banner -->
            <!-- popular cat -->
            <div class="block-popular-cat2">
                <h3 class="title">Popular Categories</h3>
                <div class="block block-popular-cat2-item">
                    <div class="block-inner">
                        <div class="cat-name">Electronics</div>
                        <div class="box-subcat">
                            <ul class="list-subcat kt-owl-carousel" data-margin="0" data-loop="true" data-nav="true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":7}}'>
                                <li class="item"><a href="#"><img src="/img/c1.jpg" alt="Cat"></a></li>
                                <li class="item"><a href="#"><img src="/img/c2.jpg" alt="Cat"></a></li>
                                <li class="item"><a href="#"><img src="/img/c3.jpg" alt="Cat"></a></li>
                                <li class="item"><a href="#"><img src="/img/c4.jpg" alt="Cat"></a></li>
                                <li class="item"><a href="#"><img src="/img/c5.jpg" alt="Cat"></a></li>
                                <li class="item"><a href="#"><img src="/img/c6.jpg" alt="Cat"></a></li>
                                <li class="item"><a href="#"><img src="/img/c7.jpg" alt="Cat"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block block-popular-cat2-item box2">
                    <div class="block-inner">
                        <div class="cat-name">fashion</div>
                        <div class="box-subcat">
                            <ul class="list-subcat kt-owl-carousel" data-margin="0" data-nav="true" data-loop="true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":7}}'>
                                <li class="item"><a href="#"><img src="/img/c8.jpg" alt="Cat"></a></li>
                                <li class="item"><a href="#"><img src="/img/c9.jpg" alt="Cat"></a></li>
                                <li class="item"><a href="#"><img src="/img/c10.jpg" alt="Cat"></a></li>
                                <li class="item"><a href="#"><img src="/img/c11.jpg" alt="Cat"></a></li>
                                <li class="item"><a href="#"><img src="/img/c12.jpg" alt="Cat"></a></li>
                                <li class="item"><a href="#"><img src="/img/c13.jpg" alt="Cat"></a></li>
                                <li class="item"><a href="#"><img src="/img/c14.jpg" alt="Cat"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="block block-popular-cat2-item box3">
                    <div class="block-inner">
                        <div class="cat-name">Sport</div>
                        <div class="box-subcat">
                            <ul class="list-subcat kt-owl-carousel" data-margin="0" data-nav="true" data-loop="true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":7}}'>
                                <li class="item"><a href="#"><img src="/img/c15.jpg" alt="Cat"></a></li>
                                <li class="item"><a href="#"><img src="/img/c16.jpg" alt="Cat"></a></li>
                                <li class="item"><a href="#"><img src="/img/c17.jpg" alt="Cat"></a></li>
                                <li class="item"><a href="#"><img src="/img/c18.jpg" alt="Cat"></a></li>
                                <li class="item"><a href="#"><img src="/img/c19.jpg" alt="Cat"></a></li>
                                <li class="item"><a href="#"><img src="/img/c20.jpg" alt="Cat"></a></li>
                                <li class="item"><a href="#"><img src="/img/c21.jpg" alt="Cat"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./popular cat -->
        </div>
    </div>