<div class="container" id ="waterfall">
    <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-3 hidden-xs">
            <%=render "/home/left_menu"%>
        </div>
        <div class="col-sm-8 col-md-9 col-lg-7">
            <!-- Home slide -->
            <div class="block-slider">
                <ul class="home-slider kt-bxslider">
                    <%@home.sliders.each_with_index do |key,index|%>
                    <li>
                        <%=link_to key['link_url'],:target=>"_blank" do%>
                            <%=image_tag key['pic_url'] %>
                        <%end%>
                    </li>
                    <%end%>
                </ul>
            </div>
            <!-- ./Home slide -->
        </div>

        <div class="col-sm-8 col-md-12 col-lg-2">
            <div class="block block-banner-owl kt-owl-carousel hidden-xs" ata-margin="0" data-loop="true" data-nav="true" data-responsive='{"0":{"items":1},"600":{"items":1},"1000":{"items":1}}'>
                <div class="page-banner">
                    <ul class="list-banner">
                    <!-- <ul class="list-banner block kt-owl-carousel" data-responsive='{"0":{"items":4},"600":{"items":2},"1000":{"items":1}}'> -->
                        <%@brands = Ecstore::Brand.where(:reco=>true).order("ordernum DESC").limit(8)
                        i=0
                        @brands.each do |brand|
                         i+=1
                         if i%4==1 && i!=1%>
                            </ul>
                            </div>
                            <div class="page-banner">
                            <ul class="list-banner">
                         <%end%>
                         <li>
                            <%=link_to brand_path(brand),:title=>brand.brand_name do%>
                                <%=image_tag "/images/brands/b#{brand.brand_id}.jpg",:alt=>brand.brand_name %>
                            <%end%>
                        </li>
                       <%end if @brands%>
                    </ul>
                </div>
            </div>

                <div class="page-banner visible-xs">
                    <ul class="list-banner block kt-owl-carousel" data-responsive='{"0":{"items":4},"600":{"items":2},"1000":{"items":1}}'>
                        <%i=0
                        @brands.each do |brand|
                         i+=1%>
                         <li>
                            <%=link_to brand_path(brand),:title=>brand.brand_name do%>
                                <%=image_tag "/images/brands/b#{brand.brand_id}.jpg",:alt=>brand.brand_name %>
                            <%end%>
                        </li>
                       <%end if @brands && i<4 %>
                    </ul>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <%=render "/home/special"%>
        </div>
        <div class="col-sm-8 col-md-9 col-xs-12">
            <!-- new-arrivals -->
            <div class="block3 block-new-arrivals">
                <div class="block-head">
                    <h3 class="block-title">推荐品牌馆</h3>
                    <ul class="nav-tab default">
                        <%i=0%>
                        <% @suppliers=[131,130,127,132]%>
                        <%@suppliers.each do |supplier_id|%>
                            <%@supplier = Ecstore::Supplier.where(:id=>supplier_id).first%>
                                <%i+=1%>
                        <li class="link-all"><a href="/suppliers/<%=@supplier.id%>" data-toggle="tab"><%=@supplier.name%></a></li>
                        <%end%>
                    </ul>
                </div>
                <div class="block-inner">
                    <div class="tab-container">                           
                        <div class="tab-panel active" id="#tab-supplier-goods">
                            <ul class="products kt-owl-carousel" data-margin="20" data-loop="true" data-nav="true" data-responsive='{"0":{"items":2},"600":{"items":3},"768":{"items":2},"1000":{"items":3},"1200":{"items":4}}'>
                            <% goods_ids =""%>
                           <% sql = "select replace(replace(replace(field_vals,'---\n- ',''''),'- ',','''),'\n','''') as goods_ids FROM mdk.sdb_imodec_promotions where name='Suppliers Goods'"%>
                           <% results = ActiveRecord::Base.connection.execute(sql)%>
                           <% results.each(:as => :hash) do |row|%>
                           <%   goods_ids= row["goods_ids"]%>
                           <% end%>
                           <% if goods_ids.size>0%>
                           <%   sql = " bn in (#{goods_ids})"%>
                           <%   @goods = Ecstore::Good.where(sql)%>
                           <% end%>
                           <%@goods.each do |good|%>
                                <li class="product">
                                    <div class="product-container">
                                        <div class="product-left">
                                            <div class="product-thumb">
                                                <a class="product-img" href="/products/<%=good.bn%>"><img src="<%=good.medium_pic%>" alt="Product"></a>
                                                <a title="Quick View" href="/products/<%=good.bn%>" class="btn-quick-view">Quick View</a>
                                            </div>
                                        </div>
                                        <div class="product-right">
                                            <div class="product-name">
                                            [<%=good.supplier.name if good.supplier_id%>]
                                                <a href="/products/<%=good.bn%>"><%=good.name%></a>
                                            </div>
                                            <div class="price-box">
                                                <span class="product-price">￥<%=good.price%></span>
                                                <span class="product-price-old">￥<%=good.mktprice%></span>
                                            </div>
                                            <div class="product-button">
                                                <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/<%=good.bn%>">收藏</a>
                                                <a class="btn-add-comparre" title="Add to Compare" href="/products/<%=good.bn%>">比较</a>
                                                <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/<%=good.bn%>">购买<span class="icon"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            <%end%>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- new-arrivals -->
        </div>
    </div>
    <div class="row" id="floor_temp" style="text-align: center">
        <img src="/assets/progress.gif">
    </div>
</div>
<script>  

    var floor_id = 1;
    var floors_num =3;
    //定义滚动函数
    function onScroll(event) {
        //是否到底部（这里是判断离底部还有100px开始载入数据）.
        var closeToBottom = ($(window).scrollTop() + $(window).height() > $(document).height() - 100);
        if(closeToBottom && floor_id<=floors_num) {

            //这里就是AJAX载入的数据
            var floor_url ="/home/"+floor_id+"/floor";
            $.ajax({url:floor_url, dataType:"html", success:function(html){
                     //把新数据追加到对象中
                     $('#waterfall').append(html);
                    if(floor_id<floors_num){
                        $('#waterfall').append($('#floor_temp'));
                    }
                    else{
                         $('#floor_temp').remove();
                    }
                    
                }
            });
        }
        console.log(floor_id);
        floor_id = floor_id +1;
    };

    $(document).ready(new function() {
            //绑定scroll事件.
            $(document).bind('scroll', onScroll);
            //第一次布局.
            // handler = $('#waterfall li');
            // handler.wookmark(options);
    });   
</script>