<%=render "shared/metable", :resource=>@cat%>

<div class="container">
	<div class="row">
		<%=render "store/shared/cat_position"%>
		
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-3 hidden-xs">
				<%=render "store/goods/tree_menu"%>
			
				<%=render "store/shared/top_sellers"%>
				<%=render "store/shared/special"%>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-9">
				
				<h3 class="page-title">
					<span><%=@cat.cat_name%></span>
					<a href="#" class="button-radius compare-link">比较商品 (1)<span class="icon"></span></a>
				</h3>
				<%=render "store/goods/list_goods"%>
				<div class="block block-categories-slider">
                    <div class="list kt-owl-carousel" data-animateout="fadeOut" data-animateIn="fadeIn" data-items="1" data-autoplay="true" data-margin="0" data-loop="true" data-nav="true">
                        <a href="#"><img src="/img/slider-cat.jpg" alt="slider-cat.jpg"></a>
                        <a href="#"><img src="/img/slider-cat2.jpg" alt="slider-cat2.jpg"></a>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
