<%=render "shared/metable", :resource=>@cat%>

<div class="container">
	<div class="row">
		<%=render "store/shared/cat_position"%>
		
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-3">
				<%=render "store/goods/tree_menu"%>
			
				<!-- block  top sellers -->
				<div class="block block-top-sellers">
					<div class="block-head">
						<div class="block-title">
							<div class="block-icon">
								<img src="data/top-seller-icon.png" alt="store icon">
							</div>
							<div class="block-title-text text-sm">top</div>
							<div class="block-title-text text-lg">SELLERS</div>
						</div>
					</div>
					<div class="block-inner">
						<ul class="products kt-owl-carousel" data-items="1" data-autoplay="true" data-loop="true" data-nav="true">
							<li class="product">
								<div class="product-container">
									<div class="product-left">
										<div class="product-thumb">
											<a class="product-img" href="#"><img src="data/option1/p1.jpg" alt="Product"></a>
											<a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
										</div>
									</div>
									<div class="product-right">
										<div class="product-name">
											<a href="#">Cotton Lycra Leggings</a>
										</div>
										<div class="price-box">
											<span class="product-price">$139.98</span>
											<span class="product-price-old">$169.00</span>
										</div>
										<div class="product-star">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                        <div class="product-button">
                                        	<a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a>
                                        	<a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a>
                                        	<a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a>
                                        </div>
									</div>
								</div>
							</li>
							<li class="product">
								<div class="product-container">
									<div class="product-left">
										<div class="product-thumb">
											<a class="product-img" href="#"><img src="data/option1/p2.jpg" alt="Product"></a>
											<a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
										</div>
									</div>
									<div class="product-right">
										<div class="product-name">
											<a href="#">Cotton Lycra Leggings</a>
										</div>
										<div class="price-box">
											<span class="product-price">$139.98</span>
											<span class="product-price-old">$169.00</span>
										</div>
										<div class="product-star">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                        <div class="product-button">
                                        	<a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a>
                                        	<a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a>
                                        	<a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a>
                                        </div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- block  top sellers -->
				<!-- block SPECIALS -->
				<div class="block block-specials">
					<div class="block-head">SPECIALS</div>
					<div class="block-inner">
						<div class="product">
							<div class="image">
								<a href="#"><img src="data/option1/p23.jpg" alt="p23.jpg"></a>
							</div>
							<div class="product-name">
								<a href="#">Cotton Lycra Leggings</a>
							</div>
							<div class="price-box">
								<span class="product-price">$139.98</span>
								<span class="product-price-old">$169.00</span>
							</div>
						</div>
						<a href="#" class="button-radius">All Specials<span class="icon"></span></a>
					</div>
				</div>
				<!-- ./block SPECIALS -->
			</div>
			<div class="col-xs-12 col-sm-8 col-md-9">
				
				<h3 class="page-title">
					<span><%=@cat.cat_name%></span>
					<a href="#" class="button-radius compare-link">比较商品 (1)<span class="icon"></span></a>
				</h3>
				<%=render "store/goods/list_goods"%>
				<div class="block block-categories-slider">
                    <div class="list kt-owl-carousel" data-animateout="fadeOut" data-animateIn="fadeIn" data-items="1" data-autoplay="true" data-margin="0" data-loop="true" data-nav="true">
                        <a href="#"><img src="/img/slider-cat.jpg" alt="slider-cat.jpg"></a>
                        <a href="#"><img src="/img/slider-cat2.jpg" alt="slider-cat2.jpg"></a>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
