<script type="text/javascript" src="/js/wookmark.min.js"></script>
<div class="sortPagiBar">
		
	<ul class="display-product-option">
        <li class="view-as-grid selected">
            <span>grid</span>
        </li>
        <li class="view-as-list">
            <span>list</span>
        </li>
    </ul>
    <div class="sort-product">
        	<div class="icon"><i class="fa fa-sort-alpha-asc"></i></div>
			<%
				query_hash = {}
				# query_hash[:color] = params[:color] if params[:color]
				# query_hash[:brand] = params[:brand] if params[:brand]
				# query_hash[:cat_id] = params[:cat_id] if params[:cat_id]
				params_hash = params.dup

				params_hash.delete(:controller)
				params_hash.delete(:action)
				params_hash.delete(:order)

				query = params_hash.to_query
			%>

			<%if params[:order].blank?%>
				<%=link_to "价格&uarr;".html_safe,"?order=price-asc&#{query}",:title=>"价格从低往高"%>
			<%elsif  params[:order] == "price-asc"%>
				<%=link_to "价格&uarr;".html_safe,"?order=price-desc&#{query}",:title=>"价格从低往高"%>
			<%else params[:order] =='price-desc'%>
				<%=link_to "价格&darr;".html_safe,"?order=price-asc&#{query}",:title=>"价格从高往低"%>
			<%end%>

			<%=link_to "销量&darr;".html_safe,"?order=buy_count-desc&#{query}",:title=>"价格从高往低"%>
			<%=link_to "人气&darr;".html_safe,"?order=view_count-asc&#{query}",:title=>"人气从高往低"%>       	
            
        </div>
	<div class="sortPagiBar-inner">
	
		<nav>
		
		<div class="digg_pagination">
		    <div class="page_info" style="display:none">
		      <%= page_entries_info @goods %>
		    </div>
	    <%= will_paginate @goods, :container => false if @goods%>
	  </div>         
        </nav>
       <!--  <div class="show-product-item">
        	<select class="">
            	<option value="1">Show 15</option>
            	<option value="1">Show 20</option>
            </select>
        </div> -->
        

	</div>
</div>
<div class="category-products">
	<ul class="products row">
	<%@goods.each do |good|%>
		<li class="product col-xs-6 col-sm-6 col-md-4">
			<div class="product-container">
				<div class="inner">
					<div class="product-left">
						<div class="product-thumb">
							<%=link_to good_path(good.bn), :target=>"_blank",:class=>"product-img" do %>
								<%=image_tag good.list_default_pic,:alt=>good.name%>
							<%end%>
							<a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
						</div>
					</div>
					<div class="product-right">
						<div class="product-name">
							<%if controller_name == "search" && good.brand%>
								<%
								      dup_brand = good.brand.brand_name.dup
									@splits.each do |part|
										regex = Regexp.new(part,Regexp::IGNORECASE)
										dup_brand.gsub! regex do |match|
											"<span class='highlight'>#{match}</span>"
										end
									end
								%>
								<%=dup_brand.html_safe%>
							<%else%>
								<%=good.brand.brand_name if good.brand%>
							<%end%>
							&nbsp;
							<%if controller_name == "search"%>
								<%=link_to good_path(good.bn),:target=>"_blank" do%>
									<%
									      dup_name = good.name
										@splits.each do |part|
											regex = Regexp.new(part,Regexp::IGNORECASE)
											dup_name.gsub! regex do |match|
												"<span class='highlight'>#{match}</span>"
											end
										end
									%>
									<%=dup_name.html_safe%>
								<%end%>
							<%else%>
								<%=link_to good.name,good_path(good.bn),:target=>"_blank"%>
							<%end%>
						</div>
						<div class="price-box">
							<span class="product-price">￥<%=good.price%></span>
                            <span class="product-price-old">￥<%=good.mktprice%></span>
						</div>
                        <div class="product-button">
                        	<a class="btn-add-wishlist" title="Add to Wishlist" href="<%=good_path(good.bn)%>">收藏</a>
                        	<a class="btn-add-comparre" title="Add to Compare" href="<%=good_path(good.bn)%>">比较</a>
                        	<a class="button-radius btn-add-cart" title="Add to Cart" href="<%=good_path(good.bn)%>">购买<span class="icon"></span></a>
                        </div>
					</div>
				</div>
			</div>
		</li>
	<%end if @goods%>

	</ul>
</div>
<div class="sortPagiBar">
	
	<ul class="display-product-option">
        <li class="view-as-grid selected">
            <span>grid</span>
        </li>
        <li class="view-as-list">
            <span>list</span>
        </li>
    </ul>
	<div class="sortPagiBar-inner">
		<nav>
          <div class="digg_pagination">
		    <div class="page_info" style="display:none">
		      <%= page_entries_info @goods %>
		    </div>
	    <%= will_paginate @goods, :container => false if @goods%>
	  </div>
        </nav>
        <!-- <div class="show-product-item">
        	<select class="">
            	<option value="1">Show 6</option>
            	<option value="1">Show 12</option>
            </select>
        </div>
        
        <div class="sort-product">
        	<select>
            	<option value="1">Postion</option>
            	<option value="1">Product name</option>
            </select>
            <div class="icon"><i class="fa fa-sort-alpha-asc"></i></div>
        </div> -->
	</div>	
</div>

<script>  

     var handler = null;
    //定义基本属性.
    // var options = {
    //     autoResize: true,
    //     container: $('#waterfall_main'),
    //     offset: 2,
    //     itemWidth: 210
    // };
    var options ={
  align: 'center',
  autoResize: true,
  comparator: null,
  container: $('#waterfall_main'),
  direction: undefined,
  ignoreInactiveItems: true,
  itemWidth: 0,
  fillEmptySpace: false,
  flexibleWidth: 0,
  offset: 2,
  onLayoutChanged: undefined,
  outerOffset: 0,
  possibleFilters: [],
  resizeDelay: 50,
  verticalOffset: undefined
}

// $('#waterfall li').wookmark(options);

    //   var handler = $('#waterfall li');
    // // handler.wookmarkClear();
    // handler.wookmark(options);
 //    var floor_id = 1;
 //    var floors_num =3;
 //    //定义滚动函数
 //    function onScroll(event) {
 //        //是否到底部（这里是判断离底部还有100px开始载入数据）.
 //        var closeToBottom = ($(window).scrollTop() + $(window).height() > $(document).height() - 100);
 //        if(closeToBottom && floor_id<=floors_num) {
 //            console.log(floor_id);
 //            //这里就是AJAX载入的数据
 //            var floor_url ="/home/"+floor_id+"/floor";
 //             $.ajax({url:floor_url, dataType:"html", success:function(html){
 //                 //把新数据追加到对象中
 //                 $('#waterfall').append(html);
 //                 floor_id = floor_id +1;
 //            //     $('#waterfall').append(html);
 //            //     //清除原来的定位
 //            //     if(handler) handler.wookmarkClear();
 //            //     //创建新的wookmark对象
 //            //     handler = $('#waterfall li');
 //            //     handler.wookmark(options);
 //                 }
 //             });
 //        }
 //    };
 // $(document).ready(new function() {
 //        //绑定scroll事件.
 //        $(document).bind('scroll', onScroll);
 //        //第一次布局.
 //        // handler = $('#waterfall li');
 //        // handler.wookmark(options);
 //    });


    // $(document).ready(new function() {
    //     //绑定scroll事件.
    //     $(document).bind('scroll', onScroll);
    //     //第一次布局.
    //     handler = $('#waterfall li');
    //     handler.wookmark(options);
    // });
</script>