
<%if @recommend_goods.size > 0%>
            <!-- Related Products -->
            <div class="block block-products-owl">
                <div class="block-head">
                    <div class="block-title">
                        <div class="block-title-text text-lg">推荐商品</div>
                    </div>
                </div>
                <div class="block-inner">
                  <ul class="products kt-owl-carousel owl-carousel owl-theme owl-loaded" data-margin="20" data-loop="true" data-nav="true" data-responsive="{&quot;0&quot;:{&quot;items&quot;:1},&quot;600&quot;:{&quot;items&quot;:3},&quot;1000&quot;:{&quot;items&quot;:5}}">
                       
                        <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-1149px, 0px, 0px); transition: 0s; width: 3447px;">
                        <%@recommend_goods.each do |good|%> 
                        <div class="owl-item cloned" style="width: 209.8px; margin-right: 20px;">
                          <li class="product">
                            <div class="product-container">
                                <div class="product-left">
                                    <div class="product-thumb">
                                        <%=link_to good_path(good.bn,:tag=>@tag&&@tag.tag_name) do %>
                                            <%=image_tag good.rec_image,:style=>"width:90%",:alt=>good.name%>
                                        <%end%>
                                        <a title="Quick View" href="/img/Edo - Product detail.html" class="btn-quick-view">Quick View</a>
                                    </div>
                                </div>
                                <div class="product-right">
                                    <div class="product-name">
                                         <a href="/products/<%=good.bn%>" target="_blank"><%=good.name%></a>
                                    </div>
                                    <div class="price-box">
                                        <span class="product-price"> &yen;<%=good.price%></span>
                                        <span class="product-price-old">&yen;<%=good.mktprice%></span>
                                    </div>
                                    <div class="product-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                    <div class="product-button">
                                        <a class="btn-add-wishlist" title="Add to Wishlist" href="/img/Edo - Product detail.html">Add Wishlist</a>
                                        <a class="btn-add-comparre" title="Add to Compare" href="/img/Edo - Product detail.html">Add Compare</a>
                                        <a class="button-radius btn-add-cart" title="Add to Cart" href="/img/Edo - Product detail.html">Buy<span class="icon"></span></a>
                                    </div>
                                </div>
                            </div>
                          </li>
                        </div>
                        <%end%>

                            <%@recommend_goods.each do |good|%> 
                            <div class="owl-item active" style="width: 209.8px; margin-right: 20px;"><li class="product">
                                <div class="product-container">
                                    <div class="product-left">
                                        <div class="product-thumb">
                                          <%=link_to good_path(good.bn,:tag=>@tag&&@tag.tag_name) do %>
                                            <%=image_tag good.rec_image,:style=>"width:90%",:alt=>good.name%>
                                          <%end%>
                                            <a title="Quick View" href="/img/Edo - Product detail.html" class="btn-quick-view">Quick View</a>
                                        </div>
                                    </div>
                                    <div class="product-right">
                                        <div class="product-name">
                                            <a href="/img/Edo - Product detail.html"><%=good.name%></a>
                                        </div>
                                        <div class="price-box">
                                            <span class="product-price">&yen;<%=good.price%></span>
                                            <span class="product-price-old">&yen;<%=good.mktprice%></span>
                                        </div>
                                        <div class="product-star">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                        <div class="product-button">
                                            <a class="btn-add-wishlist" title="Add to Wishlist" href="/img/Edo - Product detail.html">Add Wishlist</a>
                                            <a class="btn-add-comparre" title="Add to Compare" href="/img/Edo - Product detail.html">Add Compare</a>
                                            <a class="button-radius btn-add-cart" title="Add to Cart" href="/img/Edo - Product detail.html">Buy<span class="icon"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li></div>
                            <%end%>

                            <div class="owl-item active last-item" style="width: 209.8px; margin-right: 20px;"><li class="product">
                                <div class="product-container">
                                    <div class="product-left">
                                        <div class="product-thumb">
                                            <a class="product-img" href="/img/Edo - Product detail.html"><img src="/img/p39.jpg" alt=""></a>
                                            <a title="Quick View" href="/img/Edo - Product detail.html" class="btn-quick-view">Quick View</a>
                                        </div>
                                    </div>
                                    <div class="product-right">
                                        <div class="product-name">
                                            <a href="/img/Edo - Product detail.html">Cotton Lycra Leggings</a>
                                        </div>
                                        <div class="price-box">
                                            <span class="product-price">$139.98</span>
                                            <span class="product-price-old">$169.00</span>
                                        </div>
                                        <div class="product-star">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                        <div class="product-button">
                                            <a class="btn-add-wishlist" title="Add to Wishlist" href="/img/Edo - Product detail.html">Add Wishlist</a>
                                            <a class="btn-add-comparre" title="Add to Compare" href="/img/Edo - Product detail.html">Add Compare</a>
                                            <a class="button-radius btn-add-cart" title="Add to Cart" href="/img/Edo - Product detail.html">Buy<span class="icon"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li></div>
                            <div class="owl-item cloned" style="width: 209.8px; margin-right: 20px;"><li class="product">
                                <div class="product-container">
                                    <div class="product-left">
                                        <div class="product-thumb">
                                            <a class="product-img" href="/img/Edo - Product detail.html"><img src="/img/p35.jpg" alt=""></a>
                                            <a title="Quick View" href="/img/Edo - Product detail.html" class="btn-quick-view">Quick View</a>
                                        </div>
                                    </div>
                                    <div class="product-right">
                                        <div class="product-name">
                                            <a href="/img/Edo - Product detail.html">Cotton Lycra Leggings</a>
                                        </div>
                                        <div class="price-box">
                                            <span class="product-price">$139.98</span>
                                            <span class="product-price-old">$169.00</span>
                                        </div>
                                        <div class="product-star">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                        <div class="product-button">
                                            <a class="btn-add-wishlist" title="Add to Wishlist" href="/img/Edo - Product detail.html">Add Wishlist</a>
                                            <a class="btn-add-comparre" title="Add to Compare" href="/img/Edo - Product detail.html">Add Compare</a>
                                            <a class="button-radius btn-add-cart" title="Add to Cart" href="/img/Edo - Product detail.html">Buy<span class="icon"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li></div>
                            <div class="owl-item cloned" style="width: 209.8px; margin-right: 20px;"><li class="product">
                                <div class="product-container">
                                    <div class="product-left">
                                        <div class="product-thumb">
                                            <a class="product-img" href="/img/Edo - Product detail.html"><img src="/img/p36.jpg" alt=""></a>
                                            <a title="Quick View" href="/img/Edo - Product detail.html" class="btn-quick-view">Quick View</a>
                                        </div>
                                    </div>
                                    <div class="product-right">
                                        <div class="product-name">
                                            <a href="/img/Edo - Product detail.html">Cotton Lycra Leggings</a>
                                        </div>
                                        <div class="price-box">
                                            <span class="product-price">$139.98</span>
                                            <span class="product-price-old">$169.00</span>
                                        </div>
                                        <div class="product-star">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                        <div class="product-button">
                                            <a class="btn-add-wishlist" title="Add to Wishlist" href="/img/Edo - Product detail.html">Add Wishlist</a>
                                            <a class="btn-add-comparre" title="Add to Compare" href="/img/Edo - Product detail.html">Add Compare</a>
                                            <a class="button-radius btn-add-cart" title="Add to Cart" href="/img/Edo - Product detail.html">Buy<span class="icon"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li></div>
                            <div class="owl-item cloned" style="width: 209.8px; margin-right: 20px;"><li class="product">
                                <div class="product-container">
                                    <div class="product-left">
                                        <div class="product-thumb">
                                            <a class="product-img" href="/img/Edo - Product detail.html"><img src="/img/p37.jpg" alt=""></a>
                                            <a title="Quick View" href="/img/Edo - Product detail.html" class="btn-quick-view">Quick View</a>
                                        </div>
                                    </div>
                                    <div class="product-right">
                                        <div class="product-name">
                                            <a href="/img/Edo - Product detail.html">Cotton Lycra Leggings</a>
                                        </div>
                                        <div class="price-box">
                                            <span class="product-price">$139.98</span>
                                            <span class="product-price-old">$169.00</span>
                                        </div>
                                        <div class="product-star">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                        <div class="product-button">
                                            <a class="btn-add-wishlist" title="Add to Wishlist" href="/img/Edo - Product detail.html">Add Wishlist</a>
                                            <a class="btn-add-comparre" title="Add to Compare" href="/img/Edo - Product detail.html">Add Compare</a>
                                            <a class="button-radius btn-add-cart" title="Add to Cart" href="/img/Edo - Product detail.html">Buy<span class="icon"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li></div>
                            <div class="owl-item cloned" style="width: 209.8px; margin-right: 20px;"><li class="product">
                                <div class="product-container">
                                    <div class="product-left">
                                        <div class="product-thumb">
                                            <a class="product-img" href="/img/Edo - Product detail.html"><img src="/img/p38.jpg" alt=""></a>
                                            <a title="Quick View" href="/img/Edo - Product detail.html" class="btn-quick-view">Quick View</a>
                                        </div>
                                    </div>
                                    <div class="product-right">
                                        <div class="product-name">
                                            <a href="/img/Edo - Product detail.html">Cotton Lycra Leggings</a>
                                        </div>
                                        <div class="price-box">
                                            <span class="product-price">$139.98</span>
                                            <span class="product-price-old">$169.00</span>
                                        </div>
                                        <div class="product-star">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                        <div class="product-button">
                                            <a class="btn-add-wishlist" title="Add to Wishlist" href="/img/Edo - Product detail.html">Add Wishlist</a>
                                            <a class="btn-add-comparre" title="Add to Compare" href="/img/Edo - Product detail.html">Add Compare</a>
                                            <a class="button-radius btn-add-cart" title="Add to Cart" href="/img/Edo - Product detail.html">Buy<span class="icon"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li></div>
                            <div class="owl-item cloned" style="width: 209.8px; margin-right: 20px;"><li class="product">
                                <div class="product-container">
                                    <div class="product-left">
                                        <div class="product-thumb">
                                            <a class="product-img" href="/img/Edo - Product detail.html"><img src="/img/p39.jpg" alt=""></a>
                                            <a title="Quick View" href="/img/Edo - Product detail.html" class="btn-quick-view">Quick View</a>
                                        </div>
                                    </div>
                                    <div class="product-right">
                                        <div class="product-name">
                                            <a href="/img/Edo - Product detail.html">Cotton Lycra Leggings</a>
                                        </div>
                                        <div class="price-box">
                                            <span class="product-price">$139.98</span>
                                            <span class="product-price-old">$169.00</span>
                                        </div>
                                        <div class="product-star">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                        <div class="product-button">
                                            <a class="btn-add-wishlist" title="Add to Wishlist" href="/img/Edo - Product detail.html">Add Wishlist</a>
                                            <a class="btn-add-comparre" title="Add to Compare" href="/img/Edo - Product detail.html">Add Compare</a>
                                            <a class="button-radius btn-add-cart" title="Add to Cart" href="/img/Edo - Product detail.html">Buy<span class="icon"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li></div>
                          </div></div>
                          <div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="">prev</div><div class="owl-next" style="">next</div></div>
                          <div class="owl-dots" style=""><div class="owl-dot active"><span></span></div></div></div>
                          </ul>
                    </div>
            </div>
            <!-- ./Related Products -->
<%end%>
