
<%if @recommend_goods.size > 0%>
<!-- Related Products -->
            <div class="block block-products-owl">
                <div class="block-head">
                    <div class="block-title">
                        <div class="block-title-text text-lg">推荐商品</div>
                    </div>
                </div>
                <div class="block-inner">
                        <ul class="products kt-owl-carousel" data-margin="20" data-loop="true" data-nav="true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":5}}'>
                         <%@recommend_goods.each do |good|%> 
                            <li class="product">
                            <div class="product-container">
                                <div class="product-left">
                                    <div class="product-thumb">
                                        <%=link_to good_path(good.bn,:tag=>@tag&&@tag.tag_name) do %>
                                            <%=image_tag good.rec_image,:style=>"width:90%",:alt=>good.name%>
                                        <%end%>
                                        <a title="Quick View" href="/img/Edo - Product detail.html" class="btn-quick-view">Quick View</a>
                                    </div>
                                </div>
                                <div class="product-right">
                                    <div class="product-name">
                                         <a href="/products/<%=good.bn%>" target="_blank"><%=good.name%></a>
                                    </div>
                                    <div class="price-box">
                                        <span class="product-price"> &yen;<%=good.price%></span>
                                        <span class="product-price-old">&yen;<%=good.mktprice%></span>
                                    </div>
                                    <div class="product-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                    <div class="product-button">
                                        <a class="btn-add-wishlist" title="Add to Wishlist" href="/img/Edo - Product detail.html">Add Wishlist</a>
                                        <a class="btn-add-comparre" title="Add to Compare" href="/img/Edo - Product detail.html">Add Compare</a>
                                        <a class="button-radius btn-add-cart" title="Add to Cart" href="/img/Edo - Product detail.html">Buy<span class="icon"></span></a>
                                    </div>
                                </div>
                            </div>
                          </li>
                          <%end%>
                        </ul>
                    </div>
            </div>
            <!-- ./Related Products -->
<%end%>
