<div class="block block-sidebar">
	<div class="block-head">
		<h5 class="widget-title">商品分类</h5>
	</div>
	<div class="block-inner">
		<div class="block-list-category">
			<ul class="tree-menu">
				<%@top_cats.each_with_index do |top_cat,index|%>		
                <li class="<%='active' if @cat.present? ? @cat.cat_paths.include?(top_cat) : index == 0%>">
                	<%=link_to top_cat.cat_name, "#"%>
                    <ul style="display:none;<%='display: block' if @cat.present? ? @cat.cat_paths.include?(top_cat) : index == 0%>">
                    	<%top_cat.categories.order("p_order asc").each do |scat|%>
							<%if scat.all_goods.size > 0%>
	                        	<li><span></span><%=link_to scat.cat_name,cat_path(scat,:gtype=>params[:gtype])%></li>
	                        	<%if scat.categories.present?%>
									<ul>
									<%scat.categories.each do |tcat|%>
										<%if tcat.all_goods.size>0%>
										<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=link_to tcat.cat_name,cat_path(tcat,:gtype=>params[:gtype])%></li>
										<%end%>
									<%end%>
									</ul>
								<%end%>
	                        <%end%>
                        <%end%>
                    </ul>
                </li>
                <%end if 1==0%>
                <li class="">
                	<a href="#">酒类</a>
                    <ul style="display:none;">
	                        	<li><span></span><a href="/gallery/489">啤酒</a></li>
	                        	<li><span></span><a href="/gallery/535">葡萄酒</a></li>
									<ul>
										<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/gallery/564">干红</a></li>
										<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/gallery/565">干白</a></li>
										<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/gallery/566">起泡酒</a></li>
									</ul>
	                        	<li><span></span><a href="/gallery/616">威士忌</a></li>
	                        	<li><span></span><a href="/gallery/623">黄酒</a></li>
									<ul>
										<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/gallery/624">封缸酒</a></li>
									</ul>
	                        	<li><span></span><a href="/gallery/562">白酒</a></li>
                    </ul>
                </li>
                <li class="">
                	<a href="#">休闲零食</a>
                    <ul style="display:none;">
	                        	<li><span></span><a href="/gallery/494">巧克力</a></li>
	                        	<li><span></span><a href="/gallery/496">饼干</a></li>
	                        	<li><span></span><a href="/gallery/547">牛奶</a></li>
	                        	<li><span></span><a href="/gallery/555">饮料</a></li>
	                        	<li><span></span><a href="/gallery/617">麦片</a></li>
	                        	<li><span></span><a href="/gallery/654">凉果系列</a></li>
                    </ul>
                </li>
                <li class="">
                	<a href="#">母婴儿童用品、玩具</a>
                    <ul style="display:none;">
	                        	<li><span></span><a href="/gallery/516">婴童牙膏</a></li>
	                        	<li><span></span><a href="/gallery/515">婴童牙刷</a></li>
	                        	<li><span></span><a href="/gallery/572">手工皂</a></li>
	                        	<li><span></span><a href="/gallery/573">婴童餐具</a></li>
	                        	<li><span></span><a href="/gallery/641">进口奶粉</a></li>
                    </ul>
                </li>
                <li class="">
                	<a href="#">粮油食品</a>
                    <ul style="display:none;">
	                        	<li><span></span><a href="/gallery/500">橄榄油</a></li>
	                        	<li><span></span><a href="/gallery/501">方便面饭</a></li>
	                        	<li><span></span><a href="/gallery/534">通心粉</a></li>
	                        	<li><span></span><a href="/gallery/632">葵花籽油</a></li>
	                        	<li><span></span><a href="/gallery/636">小米</a></li>
	                        	<li><span></span><a href="/gallery/597">东北大米</a></li>
                    </ul>
                </li>
                <li class="">
                	<a href="#">家居日用</a>
                    <ul style="display:none;">
	                        	<li><span></span><a href="/gallery/601">微POS机</a></li>
	                        	<li><span></span><a href="/gallery/585">卓玛泉饮用水</a></li>
                    </ul>
                </li>
                <li class="">
                	<a href="#">冲泡饮品</a>
                    <ul style="display:none;">
	                        	<li><span></span><a href="/gallery/498">咖啡</a></li>
									<ul>
										<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/gallery/613">咖啡豆</a></li>
									</ul>
	                        	<li><span></span><a href="/gallery/536">速溶咖啡</a></li>
	                        	<li><span></span><a href="/gallery/625">红茶</a></li>
									<ul>
										<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/gallery/626">皇家棒茶系列</a></li>
										<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/gallery/627">原茶系列</a></li>
										<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/gallery/628">果茶系列</a></li>
									</ul>
	                        	<li><span></span><a href="/gallery/638">高山有机茶</a></li>
                    </ul>
                </li>
                <li class="active">
                	<a href="#">肉类-生鲜/冷冻/熟食</a>
                    <ul style="display:none;display: block">
	                        	<li><span></span><a href="/gallery/561">香肠</a></li>
	                        	<li><span></span><a href="/gallery/583">大闸蟹</a></li>
	                        	<li><span></span><a href="/gallery/619">冷水鱼</a></li>
	                        	<li><span></span><a href="/gallery/634">黑脚老母鸡</a></li>
	                        	<li><span></span><a href="/gallery/560">火腿</a></li>
	                        	<li><span></span><a href="/gallery/559">培根</a></li>
	                        	<li><span></span><a href="/gallery/578">其它</a></li>
	                        	<li><span></span><a href="/gallery/606">品尊系列</a></li>
	                        	<li><span></span><a href="/gallery/607">阿根廷牛肉</a></li>
	                        	<li><span></span><a href="/gallery/608">礼盒产品</a></li>
	                        	<li><span></span><a href="/gallery/610">好客者系列</a></li>
                    </ul>
                </li>
                <li class="">
                	<a href="#">服务</a>
                    <ul style="display:none;">
	                        	<li><span></span><a href="/gallery/584">餐饮团购</a></li>
	                        	<li><span></span><a href="/gallery/618">礼仪鲜花</a></li>
	                        	<li><span></span><a href="/gallery/620">礼仪蛋糕</a></li>
	                        	<li><span></span><a href="/gallery/633">礼卡</a></li>
                    </ul>
                </li>
                <li class="">
                	<a href="#">进口车</a>
                    <ul style="display:none;">
                    </ul>
                </li>
                <li class="">
                	<a href="#">蔬菜水果</a>
                    <ul style="display:none;">
	                        	<li><span></span><a href="/gallery/637">基地水果</a></li>
	                        	<li><span></span><a href="/gallery/652">释迦</a></li>
	                        	<li><span></span><a href="/gallery/621">水果礼盒</a></li>
	                        	<li><span></span><a href="/gallery/631">洛川苹果</a></li>
	                        	<li><span></span><a href="/gallery/595">蔬菜卡券</a></li>
                    </ul>
                </li>
                <li class="">
                	<a href="#">养生珍品</a>
                    <ul style="display:none;">
	                        	<li><span></span><a href="/gallery/537">蜂蜜</a></li>
	                        	<li><span></span><a href="/gallery/642">枸杞</a></li>
	                        	<li><span></span><a href="/gallery/639">燕窝</a></li>
	                        	<li><span></span><a href="/gallery/643">胶原蛋白</a></li>
	                        	<li><span></span><a href="/gallery/651">红米</a></li>
	                        	<li><span></span><a href="/gallery/655">山珍美味</a></li>
	                        	<li><span></span><a href="/gallery/528">亚麻籽油</a></li>
	                        	<li><span></span><a href="/gallery/576">养生茶</a></li>
	                        	<li><span></span><a href="/gallery/596">铁棍山药</a></li>
	                        	<li><span></span><a href="/gallery/614">加拿大海参</a></li>
	                        	<li><span></span><a href="/gallery/615">松茸</a></li>
                    </ul>
                </li>
            </ul>
		</div>
	</div>
</div>