<link rel="stylesheet" type="text/css" href="/stylesheets/easyzoom.css">

<div class="container product-page">
 <%= render "store/shared/position" if @cat%>
    <div class="row">
        <div class="row">
        <div class="col-sm-5">
                <div class="block block-product-image">
                    <div class="product-image easyzoom easyzoom--overlay easyzoom--with-thumbnails">
                        <a href="<%= ("http://7xnh1s.com1.z0.glb.clouddn.com" + @good.big_pic.split(",")[0]) %>">
                            <img src="<%= ("http://7xnh1s.com1.z0.glb.clouddn.com" + @good.big_pic.split(",")[0]) %>" alt="<%=@good.name%>" width="450px" height="450px">
                        </a>
                    </div>
                    <div class="text">鼠标悬浮放大商品图片</div>
                    <div class="product-list-thumb">
                        <ul class="thumbnails kt-owl-carousel" data-margin="10" data-nav="true" data-responsive='{"0":{"items":2},"600":{"items":2},"1000":{"items":3}}'>
                         <%for value in 0..(@good.big_pic.split(",").length-1)%>
                            <li>
                                <a class="<%='selected' if value==0%>" href="<%= ("http://7xnh1s.com1.z0.glb.clouddn.com" + @good.big_pic.split(",")[value]) %>" data-standard="<%=@good.big_pic.split(",")[value]%>">
                                    <%= image_tag ("http://7xnh1s.com1.z0.glb.clouddn.com" + @good.big_pic.split(",")[value]) %>
                                </a>
                            </li>
                        <%end%>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-12 col-md-7">
                        <div class="block-product-info">
                        <%=form_for :product,:url=>add_cart_index_path,:html=>{:class=>"form_add_cart",:id=>"add_cart"} do |f|%>
                            <%=f.hidden_field :goods_id,:value=>@good.goods_id%>
                            <%=f.hidden_field :type_id,:value=>@good.type_id%>
                            <h2 class="product-name"><%=@good.name %></h2>
                            <div class="price-box">
                                <span class="product-price"> ¥<%=@good.default_product.price if @good.default_product%></span>
                                <span class="product-price-old"> ¥<%=@good.default_product.mktprice if @good.default_product%></span>
                            </div>
                            <div class="product-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <div class="desc"><%=raw @good.desc%><br>
                                规格:<%=raw @good.spec_info%>
                            </div>
                            <div class="desc">品牌：<%=@good.brand.brand_name if @good.brand%></div>
                            <%=render :partial=>"store/goods/product/new_spec",:locals=>{ :good=>@good }%>

                            <div class="box-control-button">
                                <a class="link-wishlist" href="#">收藏</a>
                                <a class="link-compare" href="#">比较商品</a>
                                <a class="link-sendmail" href="#">分享给朋友</a>
                                <a class="link-print" href="#">打印</a>
                            </div>
                        <%end%>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-5 hidden-xs">
                        <%=render "/home/top_sellers"%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Product tab -->
        <div class="block block-tabs tab-left">
            <div class="block-head">
                <ul class="nav-tab">
                    <li class="active"><a data-toggle="tab" href="#tab-1">商品详情</a></li>
                    <li><a data-toggle="tab" href="#tab-2">商品参数</a></li>
                    <li><a data-toggle="tab" href="#tab-3">会员评价</a></li>
                </ul>
            </div>
            <div class="block-inner">
                <div class="tab-container">
                    <div id="tab-1" class="tab-panel active">
                        <p>
                            <%=raw @good.intro%>
                        </p>
                    </div>
                    <div id="tab-2" class="tab-panel">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Compositions</td>
                                    <td>Cotton</td>
                                </tr>
                                <tr>
                                    <td>Styles</td>
                                    <td>Girly</td>
                                </tr>
                                <tr>
                                    <td>Properties</td>
                                    <td>Colorful Dress</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="tab-3" class="tab-panel">
                        <div id="reviews">
                            <h4 class="comments-title">1 review for "Cotton Lycra Leggings"</h4>
                            <ol class="comment-list">
                                <li class="comment">
                                    <div class="comment-avatar">
                                        <img src="/img/avatar.jpg" alt="Avatar">
                                    </div>
                                    <div class="comment-content">
                                        <div class="comment-meta">
                                            <a href="/img/Edo - Product detail.html" class="comment-author">jon Conner</a>
                                            <span class="comment-date">March 14, 2013 at 8:03 am</span>
                                            <div class="review-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                        <div class="comment-entry">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                                        </div>
                                        <div class="comment-actions">
                                            <a class="comment-reply-link" href="/img/Edo - Product detail.html"><i class="fa fa-share"></i> Reply</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment">
                                    <div class="comment-avatar">
                                        <img src="/img/avatar.jpg" alt="Avatar">
                                    </div>
                                    <div class="comment-content">
                                        <div class="comment-meta">
                                            <a href="/img/Edo - Product detail.html" class="comment-author">jon Conner</a>
                                            <span class="comment-date">March 14, 2013 at 8:03 am</span>
                                            <div class="review-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                        <div class="comment-entry">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                                        </div>
                                        <div class="comment-actions">
                                            <a class="comment-reply-link" href="/img/Edo - Product detail.html"><i class="fa fa-share"></i> Reply</a>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                            <div class="comment-form">
                                <h3 class="comment-reply-title">Leave a Review</h3>
                                <small>Your email address will not be published. Required fields are marked *</small>
                                <div class="rating">
                                    <label class="required">Your rating</label>
                                    <div class="form-rating">
                                        <label class="radio-inline">
                                          <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
                                        </label>
                                        <label class="radio-inline">
                                          <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
                                        </label>
                                        <label class="radio-inline">
                                          <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
                                        </label>
                                        <label class="radio-inline">
                                          <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4"> 4
                                        </label>
                                        <label class="radio-inline">
                                          <input type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5"> 5
                                        </label>
                                    </div>
                                </div>
                                <p>
                                    <label class="required">Name</label>
                                    <input type="text">
                                </p>
                                <p>
                                    <label class="required">Email</label>
                                    <input type="text">
                                </p>
                                <p>
                                    <label>Website</label>
                                    <input type="text">
                                </p>
                                <p>
                                    <label class="required">Comment</label>
                                    <textarea rows="5"></textarea>
                                </p>
                                <p>
                                    <button class="button">Post review</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product tab -->
        <%if @good.has_cols? %>
            <%= render "new_look2"%>
            <%= render "reco_new_look" if @good.reco_collocation_goods.count > 0%>
        <%else%>
          <%= render "reco_goods" %>
        <%end%>
    </div>
</div>
