<link rel="stylesheet" type="text/css" href="/stylesheets/easyzoom.css">

<div class="container product-page">
 <%= render "store/shared/position" if @cat%>        
    <div class="row">
        <div class="row">
        <div class="col-sm-5">
                <div class="block block-product-image">
                    <div class="product-image easyzoom easyzoom--overlay easyzoom--with-thumbnails">
                        <a href="<%=@good.big_pic.split(",")[0]%>">
                            <img src="<%=@good.big_pic.split(",")[0]%>" alt="<%=@good.name%>" width="450" height="450">
                        </a>
                    </div>
                    <div class="text">鼠标悬浮放大商品图片</div>
                    <div class="product-list-thumb">
                        <ul class="thumbnails kt-owl-carousel" data-margin="10" data-nav="true" data-responsive='{"0":{"items":2},"600":{"items":2},"1000":{"items":3}}'>
                         <%for value in 0..(@good.big_pic.split(",").length-1)%>
                            <li>
                                <a class="<%='selected' if value==0%>" href="<%=@good.big_pic.split(",")[value]%>" data-standard="<%=@good.big_pic.split(",")[value]%>">
                                    <%=image_tag @good.big_pic.split(",")[value]%>
                                </a>
                            </li>
                        <%end%>                               
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-12 col-md-7">
                        <div class="block-product-info">
                        <%=form_for :product,:url=>add_cart_index_path,:class=>"form_add_cart" do |f|%>
                            <%=f.hidden_field :goods_id,:value=>@good.goods_id%>
                            <%=f.hidden_field :type_id,:value=>@good.type_id%>            
                            <h2 class="product-name"><%=@good.name %></h2>
                            <div class="price-box">
                                <span class="product-price"> ¥<%=@good.default_product.price if @good.default_product%></span>
                                <span class="product-price-old"> ¥<%=@good.default_product.mktprice if @good.default_product%></span>
                            </div>
                            <div class="product-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <div class="desc"><%=raw @good.desc%><br> 
                                规格:<%=raw @good.spec_info%>
                            </div>
                            <div class="variations-box">
                            <%=render :partial=>"store/goods/product/new_spec",:locals=>{ :good=>@good }%>
                                <table class="variations-table">
                                    <tbody><tr>
                                        <td class="table-label">Color</td>
                                        <td class="table-value">
                                            <ul class="list-check-box color">
                                                <li><a class="selected" href="/img/Edo - Product detail.html"><span style="background:#4d6dbd;">Blue</span></a></li>
                                                <li><a href="/img/Edo - Product detail.html"><span style="background:#fb5d5d;">Blue</span></a></li>
                                                <li><a href="/img/Edo - Product detail.html"><span style="background:#2fbcda;">Blue</span></a></li>
                                                <li><a href="/img/Edo - Product detail.html"><span style="background:#ffe00c;">Blue</span></a></li>
                                                <li><a href="/img/Edo - Product detail.html"><span style="background:#72b226;">Blue</span></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-label">Size</td>
                                        <td class="table-value">
                                            <ul class="list-check-box">
                                                <li><a href="/img/Edo - Product detail.html">XL</a></li>
                                                <li><a href="/img/Edo - Product detail.html">X</a></li>
                                                <li><a href="/img/Edo - Product detail.html">S</a></li>
                                                <li><a href="/img/Edo - Product detail.html">XS</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-label">数量</td>
                                        <td class="table-value">
                                            <div class="box-qty">
                                                <a href="#" class="quantity-minus">-</a>
                                                <input type="text" class="quantity" value="1">
                                                <a href="#" class="quantity-plus">+</a>
                                            </div>
                                            <a href="#" class="button-radius btn-add-cart add-cart-product">加入购物车<span class="icon"></span></a>
                                           
                                        </td>
                                    </tr>
                                </tbody></table>
                            </div>
                            <div class="box-control-button">
                                <a class="link-wishlist" href="#">收藏</a>
                                <a class="link-compare" href="#">比较商品</a>
                                <a class="link-sendmail" href="#">分享给朋友</a>
                                <a class="link-print" href="#">打印</a>
                            </div>
                        <%end%>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-5">
                        <!-- block  top sellers -->
                        <div class="block block-top-sellers">
                            <div class="block-head">
                                <div class="block-title">
                                    <div class="block-icon">
                                        <img src="/img/top-seller-icon.png" alt="store icon">
                                    </div>
                                    <div class="block-title-text text-sm">top</div>
                                    <div class="block-title-text text-lg">SELLERS</div>
                                </div>
                            </div>
                            <div class="block-inner">
                                <ul class="products kt-owl-carousel" data-margin="10" data-items="1" data-autoplay="true" data-loop="true" data-nav="true" data-responsive='{"0":{"items":1},"600":{"items":2},"1000":{"items":1}}'>
                                <%@top_sellers.each do |good|%>
                                    <li class="product">
                                        <div class="product-container">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <%=link_to good_path(good.bn), :target=>"_blank",:class=>"product-img" do %>
                                                        <%=image_tag good.list_default_pic,:alt=>good.name%>
                                                    <%end%>
                                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">                            
                                                    <%=link_to good.name,good_path(good.bn),:target=>"_blank"%>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">￥<%=good.price%></span>
                                                    <span class="product-price-old">￥<%=good.mktprice%></span>
                                                </div>
                                                <div class="product-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="<%=good_path(good.bn)%>">收藏</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="<%=good_path(good.bn)%>">比较</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="<%=good_path(good.bn)%>">购买<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <%end%>                                        
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Product tab -->
        <div class="block block-tabs tab-left">
            <div class="block-head">
                <ul class="nav-tab">                                   
                    <li class="active"><a data-toggle="tab" href="#tab-1">商品详情</a></li>
                    <li><a data-toggle="tab" href="#tab-2">商品参数</a></li>
                    <li><a data-toggle="tab" href="#tab-3">会员评价</a></li>
                </ul>
            </div>
            <div class="block-inner">
                <div class="tab-container">
                    <div id="tab-1" class="tab-panel active">
                        <p>
                            <%=raw @good.intro%>
                        </p>
                    </div>
                    <div id="tab-2" class="tab-panel">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Compositions</td>
                                    <td>Cotton</td>
                                </tr>
                                <tr>
                                    <td>Styles</td>
                                    <td>Girly</td>
                                </tr>
                                <tr>
                                    <td>Properties</td>
                                    <td>Colorful Dress</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="tab-3" class="tab-panel">
                        <div id="reviews">
                            <h4 class="comments-title">1 review for "Cotton Lycra Leggings"</h4>
                            <ol class="comment-list">
                                <li class="comment">
                                    <div class="comment-avatar">
                                        <img src="/img/avatar.jpg" alt="Avatar">
                                    </div>
                                    <div class="comment-content">
                                        <div class="comment-meta">
                                            <a href="/img/Edo - Product detail.html" class="comment-author">jon Conner</a>
                                            <span class="comment-date">March 14, 2013 at 8:03 am</span>
                                            <div class="review-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                        <div class="comment-entry">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                                        </div>
                                        <div class="comment-actions">
                                            <a class="comment-reply-link" href="/img/Edo - Product detail.html"><i class="fa fa-share"></i> Reply</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment">
                                    <div class="comment-avatar">
                                        <img src="/img/avatar.jpg" alt="Avatar">
                                    </div>
                                    <div class="comment-content">
                                        <div class="comment-meta">
                                            <a href="/img/Edo - Product detail.html" class="comment-author">jon Conner</a>
                                            <span class="comment-date">March 14, 2013 at 8:03 am</span>
                                            <div class="review-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                        <div class="comment-entry">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                                        </div>
                                        <div class="comment-actions">
                                            <a class="comment-reply-link" href="/img/Edo - Product detail.html"><i class="fa fa-share"></i> Reply</a>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                            <div class="comment-form">
                                <h3 class="comment-reply-title">Leave a Review</h3>
                                <small>Your email address will not be published. Required fields are marked *</small>
                                <div class="rating">
                                    <label class="required">Your rating</label>
                                    <div class="form-rating">
                                        <label class="radio-inline">
                                          <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
                                        </label>
                                        <label class="radio-inline">
                                          <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
                                        </label>
                                        <label class="radio-inline">
                                          <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
                                        </label>
                                        <label class="radio-inline">
                                          <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4"> 4
                                        </label>
                                        <label class="radio-inline">
                                          <input type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5"> 5
                                        </label>
                                    </div>
                                </div>
                                <p>
                                    <label class="required">Name</label>
                                    <input type="text">
                                </p>
                                <p>
                                    <label class="required">Email</label>
                                    <input type="text">
                                </p>
                                <p>
                                    <label>Website</label>
                                    <input type="text">
                                </p>
                                <p>
                                    <label class="required">Comment</label>
                                    <textarea rows="5"></textarea>  
                                </p>
                                <p>
                                    <button class="button">Post review</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product tab -->
        <%if @good.has_cols? %>
            <%= render "new_look2"%>
            <%= render "reco_new_look" if @good.reco_collocation_goods.count > 0%>
        <%else%>
          <%= render "reco_goods" %>
        <%end%>
    </div>
</div>
