<%=content_for :title do "#{params[:q]}_搜索" end%>
<%=content_for :keywords do "" end%>
<%=content_for :description do "" end%>

<%=content_for :head do%>
	<%=stylesheet_link_tag "store/search"%>
<%end%>

<div class="container">
    <div class="row">
      <div class="block block-breadcrumbs">
        <ul>
          <li class="home">
            <a href="/"><i class="fa fa-home"></i></a>
            <span></span>
          </li>
          <li>搜索：<%=params[:q]%></li>
        </ul>
      </div>

		<%if @goods.size > 0%>
			<%=render "store/goods/list_goods"%>
		<%else%>
			<p>抱歉，没有搜索到与 “<span class="keywords"><%=params[:q]%></span>” 相关商品。</p>
		<%end%>
	</div>
</div>