<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>邦邦芒 | Admin</title>
  <meta name="description" content="全球精品第e站，都市时尚个性首选.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "admin/base", "admin/#{controller_name}" %>
  <%= javascript_include_tag "admin/base","admin/#{controller_name}"%>
  <%= javascript_include_tag "ckeditor/init" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/global.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/option3.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/pagination.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.dataTables.css">
  <link href="/stylesheets/css" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/jquery.bxslider.min.js"></script>
  <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
  <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
  <!-- COUNTDOWN -->
  <script type="text/javascript" src="/js/jquery.plugin.js"></script>
  <script type="text/javascript" src="/js/jquery.countdown.js"></script>
  <!-- ./COUNTDOWN -->
  <script type="text/javascript" src="/js/jquery.actual.min.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>

  <!-- COUNTDOWN -->
</head>

<body>

  <%=render "admin/shared/top_menu"%>
  <div id="main">
    <div class="container admin <%=controller_name%> <%=action_name%>">
      <%= yield %>
    </div>
  </div>
  <%=render "admin/shared/footer"%>
</body>
</html>
