
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/global.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/option3.css">
<link href="/stylesheets/css" rel="stylesheet" type="text/css">
<title>邦邦芒商城</title>
<style type="text/css"></style></head>
<body class="option3">
<%=render "/shared/header"%>

<div class="container">
    <div class="row">
<<<<<<< HEAD
        <!-- main menu-->
        <div class="main-menu">
            <div class="container">
                <div class="row">
                    <nav class="navbar" id="main-menu">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <a class="navbar-brand" href="#">菜单</a>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="/">首页</a></li>
                                    <li class="dropdown">
                                        <a href="/tuan" class="dropdown-toggle">
                                            <img src="/img/icon_sale.png" alt="Category status">
                                            限时特价</a>
                                            <ul class="dropdown-menu mega_dropdown" role="menu" style="width: 850px;">
                                                <li class="block-container col-sm-3 border">
                                                    <div class="img_container banner-hover">
                                                        <a href="#">
                                                            <img class="img-responsive" src="/img/b12.png" alt="sport">
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="block-container col-sm-3">
                                                    <ul class="block-megamenu-link">
                                                        <li class="link_container group_header">
                                                            <a href="#">TOP FASHION</a>
                                                        </li>
                                                        <li class="link_container"><a href="#">Bath &amp; Body</a></li>
                                                        <li class="link_container"><a href="#">Makeup</a></li>
                                                        <li class="link_container"><a href="#">Creams &amp; Lotions</a></li>
                                                        <li class="link_container"><a href="#">Sunscreens</a></li>
                                                        <li class="link_container"><a href="#">Face Packs/Facial</a></li>
                                                        <li class="link_container"><a href="#">Spa &amp; Body grances</a></li>
                                                        <li class="link_container"><a href="#">Women's Hygiene</a></li>
                                                    </ul>
                                                </li>
                                                <li class="block-container col-sm-3">
                                                    <ul class="block-megamenu-text">
                                                        <li class="link_container group_header">
                                                            <a href="#">TOP FASHION</a>
                                                        </li>
                                                        <li class="text_container">
                                                            <p>Aenean sollicitudin, remquis bibendum auctor, nisi elit consequat ipsum, necsagittis sem nibh elit.</p>
                                                            <a href="#" class="button-radius">Learn more<span class="icon"></span></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="block-container col-sm-3">
                                                    <ul class="block-megamenu-img">
                                                        <li class="img_container banner-hover">
                                                            <a href="#">
                                                                <img class="img-responsive" src="/img/b13.png" alt="sport">
                                                            </a>
                                                        </li>
                                                        <li class="img_container banner-hover">
                                                            <a href="#">
                                                                <img class="img-responsive" src="/img/b14.png" alt="sport">
                                                            </a>
                                                        </li>
                                                        <li class="img_container banner-hover">
                                                            <a href="#">
                                                                <img class="img-responsive" src="/img/b15.png" alt="sport">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="/gallery/561?type=1" class="dropdown-toggle">
                                                <img src="/img/icon_hot.png" alt="Category status">
                                                商品分类
                                            </a>
                                            <ul class="dropdown-menu mega_dropdown" role="menu" style="width: 900px;">
                                                <li class="block-container col-sm-3 border">
                                                    <ul class="block-megamenu-link">
                                                        <li class="link_container group_header">
                                                            <a href="#">TOP FASHION</a>
                                                        </li>
                                                        <li class="link_container"><a href="#">Bath &amp; Body</a></li>
                                                        <li class="link_container"><a href="#">Makeup</a></li>
                                                        <li class="link_container"><a href="#">Creams &amp; Lotions</a></li>
                                                        <li class="link_container"><a href="#">Sunscreens</a></li>
                                                        <li class="link_container"><a href="#">Face Packs/Facial</a></li>
                                                        <li class="link_container"><a href="#">Spa &amp; Body grances</a></li>
                                                        <li class="link_container"><a href="#">Women's Hygiene</a></li>
                                                    </ul>
                                                </li>
                                                <li class="block-container col-sm-3 border">
                                                    <ul class="block-megamenu-link">
                                                        <li class="link_container group_header">
                                                            <a href="#">TOP FASHION</a>
                                                        </li>
                                                        <li class="link_container"><a href="#">Bath &amp; Body</a></li>
                                                        <li class="link_container"><a href="#">Makeup</a></li>
                                                        <li class="link_container"><a href="#">Creams &amp; Lotions</a></li>
                                                        <li class="link_container"><a href="#">Sunscreens</a></li>
                                                        <li class="link_container"><a href="#">Face Packs/Facial</a></li>
                                                        <li class="link_container"><a href="#">Spa &amp; Body grances</a></li>
                                                        <li class="link_container"><a href="#">Women's Hygiene</a></li>
                                                    </ul>
                                                </li>
                                                <li class="block-container col-sm-3 border">
                                                    <ul class="block-megamenu-link">
                                                        <li class="link_container group_header">
                                                            <a href="#">TOP FASHION</a>
                                                        </li>
                                                        <li class="link_container"><a href="#">Bath &amp; Body</a></li>
                                                        <li class="link_container"><a href="#">Makeup</a></li>
                                                        <li class="link_container"><a href="#">Creams &amp; Lotions</a></li>
                                                        <li class="link_container"><a href="#">Sunscreens</a></li>
                                                        <li class="link_container"><a href="#">Face Packs/Facial</a></li>
                                                        <li class="link_container"><a href="#">Spa &amp; Body grances</a></li>
                                                        <li class="link_container"><a href="#">Women's Hygiene</a></li>
                                                    </ul>
                                                </li>
                                                <li class="block-container col-sm-3">
                                                    <ul class="block-megamenu-link">
                                                        <li class="link_container group_header">
                                                            <a href="#">TOP FASHION</a>
                                                        </li>
                                                        <li class="link_container"><a href="#">Bath &amp; Body</a></li>
                                                        <li class="link_container"><a href="#">Makeup</a></li>
                                                        <li class="link_container"><a href="#">Creams &amp; Lotions</a></li>
                                                        <li class="link_container"><a href="#">Sunscreens</a></li>
                                                        <li class="link_container"><a href="#">Face Packs/Facial</a></li>
                                                        <li class="link_container"><a href="#">Spa &amp; Body grances</a></li>
                                                        <li class="link_container"><a href="#">Women's Hygiene</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="/brands" class="dropdown-toggle">
                                                <img src="/img/icon_new.png" alt="Category status">
                                                品牌专区</a>
                                                <ul class="dropdown-menu mega_dropdown" role="menu" style="width: 900px; left: 135px;">
                                                    <li class="block-container col-sm-3">
                                                        <div class="img_container banner-hover">
                                                            <a href="#">
                                                                <img class="img-responsive" src="/img/b16.png" alt="sport">
                                                            </a>
                                                        </div>
                                                    </li>
                                                    <li class="block-container col-sm-3 border">
                                                        <ul class="block-megamenu-link">
                                                            <li class="link_container group_header">
                                                                <a href="#">TOP FASHION</a>
                                                            </li>
                                                            <li class="link_container"><a href="#">Bath &amp; Body</a></li>
                                                            <li class="link_container"><a href="#">Makeup</a></li>
                                                            <li class="link_container"><a href="#">Creams &amp; Lotions</a></li>
                                                            <li class="link_container"><a href="#">Sunscreens</a></li>
                                                            <li class="link_container"><a href="#">Face Packs/Facial</a></li>
                                                            <li class="link_container"><a href="#">Spa &amp; Body grances</a></li>
                                                            <li class="link_container"><a href="#">Women's Hygiene</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="block-container col-sm-3">
                                                        <div class="img_container banner-hover">
                                                            <a href="#">
                                                                <img class="img-responsive" src="/img/b17.png" alt="sport">
                                                            </a>
                                                        </div>
                                                    </li>
                                                    <li class="block-container col-sm-3">
                                                        <ul class="block-megamenu-link">
                                                            <li class="link_container group_header">
                                                                <a href="#">TOP FASHION</a>
                                                            </li>
                                                            <li class="link_container"><a href="#">Bath &amp; Body</a></li>
                                                            <li class="link_container"><a href="#">Makeup</a></li>
                                                            <li class="link_container"><a href="#">Creams &amp; Lotions</a></li>
                                                            <li class="link_container"><a href="#">Sunscreens</a></li>
                                                            <li class="link_container"><a href="#">Face Packs/Facial</a></li>
                                                            <li class="link_container"><a href="#">Spa &amp; Body grances</a></li>
                                                            <li class="link_container"><a href="#">Women's Hygiene</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="/country/124" class="dropdown-toggle">产地分类</a>
                                                <ul class="dropdown-menu mega_dropdown container-fluid">
                                                    <li class="block-container">
                                                        <ul class="block-megamenu-link">
                                                            <li class="link_container"><a href="/country/124">中国大陆</a></li>
                                                            <li class="link_container"><a href="#">意大利</a></li>
                                                            <li class="link_container"><a href="#">德国</a></li>
                                                            <li class="link_container"><a href="#">印度</a></li>
                                                            <li class="link_container"><a href="#">荷兰</a></li>
                                                        </ul>
                                                    </li>
                                                </ul> 
                                            </li>
                                           <!--  <li><a href="category-grid.html">Jewelry &amp; Watches</a></li>
                                           <li><a href="blog.html">Blog</a></li> -->
                                       </ul>
                                       <ul class="nav navbar-nav navbar-right">
                                        <li>
                                            <div class="block-wrap-cart">
                                                <div class="iner-block-cart">
                                                    <a href="/cart">
                                                        <span class="total">&yen;<%= @cart_total %></span>
                                                    </a>
                                                </div>
                                                <div class="block-mini-cart">
                                                    <div class="mini-cart-content">
                                                        <h5 class="mini-cart-head"><%= @cart_total_quantity %> 件商品 </h5>
                                                        <% if @cart_total_quantity && @cart_total_quantity > 0 %>
                                                        <div class="mini-cart-list">
                                                            <ul>
                                                                <% @line_items.each do |l| %>
                                                                <li class="product-info">
                                                                    <div class="p-left">
                                                                        <a href="#" class="remove_link"></a>
                                                                        <a href="#">
                                                                            <img class="img-responsive" src=<%= l.good.medium_pic %> alt="Product">
                                                                        </a>
                                                                    </div>
                                                                    <div class="p-right">
                                                                        <p class="p-name"><%= l.product.name %></p>
                                                                        <p class="product-price">&yen;<%= l.product.price %></p>
                                                                        <p>数量: <%= l.quantity %></p>
                                                                    </div>
                                                                </li>
                                                                <% end %>                                                            
                                                            </ul>
                                                        </div>
                                                        <div class="toal-cart">
                                                            <span>总共</span>
                                                            <span class="toal-price pull-right">&yen;<%= @cart_total %></span>
                                                        </div>
                                                        <div class="cart-buttons">
                                                            <a href="/orders/new" class="button-radius btn-check-out">下单<span class="icon"></span></a>
                                                        </div>
                                                        <% end %>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div><!--/.nav-collapse -->
                            </div>
                        </nav>
                    </div>
                </div>
=======
        <div class="block block-breadcrumbs">
            <ul>
                <li class="home">
                    <a href="/"><i class="fa fa-home"></i></a>
                    <span></span>
                </li>
                <li><a href="/member">个人中心</a>
                    <span></span>
                </li>
                <li> </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <%=render "/patch/shared/menu"%> 
            </div>
            <div class="col-sm-8 col-md-9">
                <%= yield%>
>>>>>>> 90c67d22f4324f53cb31074bed5fa1fa4af89f27
            </div>
        </div>
    </div>
</div>

<%=render "/shared/footer"%>
    <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <!-- COUNTDOWN -->
    <script type="text/javascript" src="/js/jquery.plugin.js"></script>
    <script type="text/javascript" src="/js/jquery.countdown.js"></script>
    <!-- ./COUNTDOWN -->
    <script type="text/javascript" src="/js/jquery.actual.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>

    <script type="text/javascript" src="/js/easyzoom.js"></script>

</body>
</html>

